# Behavior Explanatory Models (BEM)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.plotly as py
import cufflinks as cf

In [20]:
df_bem = pd.read_csv('./output/data_02.csv',sep=',',index_col=0)

In [21]:
df_bem.head()

,DateTime,DayWeek,M001,M002,M003,M004,M005,M006,M007,M009,...,M025,M026,M027,M028,M029,T002,P001,D001,D002,D003
0,2010-05-11 00:00:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2010-05-11 00:10:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2010-05-11 00:20:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2010-05-11 00:30:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2010-05-11 00:40:00,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
df_bem['DateTime'] = pd.to_datetime(df_bem['DateTime'])

## Regression model to kitchen use time

In [23]:
df_bem_r = df_bem[['DateTime','M012']]
display(df_bem_r.head(),df_bem_r.shape)

             DateTime  M012
0 2010-05-11 00:00:00   0.0
1 2010-05-11 00:10:00   0.0
2 2010-05-11 00:20:00   0.0
3 2010-05-11 00:30:00   0.0
4 2010-05-11 00:40:00   0.0

(17136, 2)

In [24]:
df_bem_r.index = df_bem_r['DateTime']
display(df_bem_r.head(),df_bem_r.shape)

                               DateTime  M012
DateTime
2010-05-11 00:00:00 2010-05-11 00:00:00   0.0
2010-05-11 00:10:00 2010-05-11 00:10:00   0.0
2010-05-11 00:20:00 2010-05-11 00:20:00   0.0
2010-05-11 00:30:00 2010-05-11 00:30:00   0.0
2010-05-11 00:40:00 2010-05-11 00:40:00   0.0

(17136, 2)

In [27]:
df_bem_r.resample('M').sum()
display(df_bem_r.head(),df_bem_r.shape)

                               DateTime  M012
DateTime
2010-05-11 00:00:00 2010-05-11 00:00:00   0.0
2010-05-11 00:10:00 2010-05-11 00:10:00   0.0
2010-05-11 00:20:00 2010-05-11 00:20:00   0.0
2010-05-11 00:30:00 2010-05-11 00:30:00   0.0
2010-05-11 00:40:00 2010-05-11 00:40:00   0.0

(17136, 2)

In [26]:
#sns.regplot(x=df_bem.DateTime,y=df_bem.T002)