### Data

In [1]:
import pandas as pd
import numpy as np
import re
import statistics

In [2]:
df_raw = pd.read_csv('./input/data.csv', sep=' ',index_col=False,header=None,
                      names=['Date','Time','Sensor','Measurement'])
display(df_raw.head(),df_raw.shape,df_raw.dtypes)

         Date         Time Sensor Measurement
0  2010-03-31  00:04:46.08   T001        15.5
1  2010-03-31  00:09:48.55   T001          15
2  2010-03-31  00:09:48.60   T003        14.5
3  2010-03-31  00:14:51.03   T001        14.5
4  2010-03-31  00:14:51.08   T003          14

(1269265, 4)

Date           object
Time           object
Sensor         object
Measurement    object
dtype: object

In [3]:
df_sensors = df_raw.copy()

In [4]:
def mili_to_seconds(miliseconds):
    if len(miliseconds) >= 9:
        miliseconds = re.sub(r':\d\d.\d+$','',miliseconds)
    elif len(miliseconds) == 8:
        miliseconds = re.sub(r':\d\d+$','',miliseconds)    
    elif len(miliseconds) == 2:
        miliseconds = miliseconds+':00'    
    return miliseconds

In [5]:
df_sensors['Time'] = df_sensors['Time'].apply(mili_to_seconds)

In [6]:
df_sensors['DateTime'] = df_sensors['Date'] + ' ' + df_sensors['Time']

In [7]:
df_sensors['DateTime'] = pd.to_datetime(df_sensors['DateTime'])
#df_sensors['Time'] = pd.to_datetime(df_sensors['Time'],format='%H:%M:%S')
#df_sensors['DayWeek'] = df_sensors['DateTime'].dt.dayofweek
df_sensors = df_sensors.drop(['Date', 'Time'], axis=1)

In [8]:
display(df_sensors.head(10),df_sensors.shape,df_sensors.dtypes)

  Sensor Measurement            DateTime
0   T001        15.5 2010-03-31 00:04:00
1   T001          15 2010-03-31 00:09:00
2   T003        14.5 2010-03-31 00:09:00
3   T001        14.5 2010-03-31 00:14:00
4   T003          14 2010-03-31 00:14:00
5   M001          ON 2010-03-31 00:16:00
6   M001         OFF 2010-03-31 00:17:00
7   T003        13.5 2010-03-31 00:24:00
8   T001          14 2010-03-31 00:40:00
9   T003          13 2010-03-31 00:55:00

(1269265, 3)

Sensor                 object
Measurement            object
DateTime       datetime64[ns]
dtype: object

In [9]:
s_motion = ['M001','M002','M003','M004','M005','M006','M007','M008','M009','M010','M011','M012','M013',
            'M014','M015','M016','M017','M018','M019','M020','M021','M022','M023','M024','M025','M026',
            'M027','M028','M029']

s_temp = ['T001','T002','T003']

s_doors = ['D001','D002','D003']

s_medicine = ['I001']

s_power = ['P001']

In [10]:
def data_sensors(df_input,sensor):
    df_stype = df_input[df_input['Sensor'].isin(sensor)]
    return df_stype

In [11]:
df_M001 = data_sensors(df_sensors,['M001']).reset_index(drop=True)
df_M002 = data_sensors(df_sensors,['M002']).reset_index(drop=True)
df_M003 = data_sensors(df_sensors,['M003']).reset_index(drop=True)
df_M004 = data_sensors(df_sensors,['M004']).reset_index(drop=True)
df_M005 = data_sensors(df_sensors,['M005']).reset_index(drop=True)
df_M006 = data_sensors(df_sensors,['M006']).reset_index(drop=True)
df_M007 = data_sensors(df_sensors,['M007']).reset_index(drop=True)
df_M008 = data_sensors(df_sensors,['M008']).reset_index(drop=True)
df_M009 = data_sensors(df_sensors,['M009']).reset_index(drop=True)
df_M010 = data_sensors(df_sensors,['M010']).reset_index(drop=True)
df_M011 = data_sensors(df_sensors,['M011']).reset_index(drop=True)
df_M012 = data_sensors(df_sensors,['M012']).reset_index(drop=True)
df_M013 = data_sensors(df_sensors,['M013']).reset_index(drop=True)
df_M014 = data_sensors(df_sensors,['M014']).reset_index(drop=True)
df_M015 = data_sensors(df_sensors,['M015']).reset_index(drop=True)
df_M016 = data_sensors(df_sensors,['M016']).reset_index(drop=True)
df_M017 = data_sensors(df_sensors,['M017']).reset_index(drop=True)
df_M018 = data_sensors(df_sensors,['M018']).reset_index(drop=True)
df_M019 = data_sensors(df_sensors,['M019']).reset_index(drop=True)
df_M020 = data_sensors(df_sensors,['M020']).reset_index(drop=True)
df_M021 = data_sensors(df_sensors,['M021']).reset_index(drop=True)
df_M022 = data_sensors(df_sensors,['M022']).reset_index(drop=True)
df_M023 = data_sensors(df_sensors,['M023']).reset_index(drop=True)
df_M024 = data_sensors(df_sensors,['M024']).reset_index(drop=True)
df_M025 = data_sensors(df_sensors,['M025']).reset_index(drop=True)
df_M026 = data_sensors(df_sensors,['M026']).reset_index(drop=True)
df_M027 = data_sensors(df_sensors,['M027']).reset_index(drop=True)
df_M028 = data_sensors(df_sensors,['M028']).reset_index(drop=True)
df_M029 = data_sensors(df_sensors,['M029']).reset_index(drop=True)

In [12]:
def cat_data(value):
    if value == 'ON':
        value = 1
    elif value == 'OFF':
        value = 0
    return value

In [13]:
df_M001['Measurement'] = df_M001['Measurement'].apply(cat_data)
df_M002['Measurement'] = df_M002['Measurement'].apply(cat_data)
df_M003['Measurement'] = df_M003['Measurement'].apply(cat_data)
df_M004['Measurement'] = df_M004['Measurement'].apply(cat_data)
df_M005['Measurement'] = df_M005['Measurement'].apply(cat_data)
df_M006['Measurement'] = df_M006['Measurement'].apply(cat_data)
df_M007['Measurement'] = df_M007['Measurement'].apply(cat_data)
df_M008['Measurement'] = df_M008['Measurement'].apply(cat_data)
df_M009['Measurement'] = df_M009['Measurement'].apply(cat_data)
df_M010['Measurement'] = df_M010['Measurement'].apply(cat_data)
df_M011['Measurement'] = df_M011['Measurement'].apply(cat_data)
df_M012['Measurement'] = df_M012['Measurement'].apply(cat_data)
df_M013['Measurement'] = df_M013['Measurement'].apply(cat_data)
df_M014['Measurement'] = df_M014['Measurement'].apply(cat_data)
df_M015['Measurement'] = df_M015['Measurement'].apply(cat_data)
df_M016['Measurement'] = df_M001['Measurement'].apply(cat_data)
df_M017['Measurement'] = df_M001['Measurement'].apply(cat_data)
df_M018['Measurement'] = df_M001['Measurement'].apply(cat_data)
df_M019['Measurement'] = df_M001['Measurement'].apply(cat_data)
df_M020['Measurement'] = df_M001['Measurement'].apply(cat_data)
df_M021['Measurement'] = df_M001['Measurement'].apply(cat_data)
df_M022['Measurement'] = df_M001['Measurement'].apply(cat_data)
df_M023['Measurement'] = df_M001['Measurement'].apply(cat_data)
df_M024['Measurement'] = df_M001['Measurement'].apply(cat_data)
df_M025['Measurement'] = df_M001['Measurement'].apply(cat_data)
df_M026['Measurement'] = df_M001['Measurement'].apply(cat_data)
df_M027['Measurement'] = df_M001['Measurement'].apply(cat_data)
df_M028['Measurement'] = df_M001['Measurement'].apply(cat_data)
df_M029['Measurement'] = df_M001['Measurement'].apply(cat_data)

In [14]:
df_M001 = df_M001.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M002 = df_M002.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M003 = df_M003.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M004 = df_M004.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M005 = df_M005.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M006 = df_M006.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M007 = df_M007.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M008 = df_M008.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M009 = df_M009.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M010 = df_M010.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M011 = df_M011.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M012 = df_M012.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M013 = df_M013.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M014 = df_M014.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M015 = df_M015.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M016 = df_M016.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M017 = df_M017.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M018 = df_M018.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M019 = df_M019.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M020 = df_M020.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M021 = df_M021.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M022 = df_M022.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M023 = df_M023.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M024 = df_M024.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M025 = df_M025.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M026 = df_M026.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M027 = df_M027.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M028 = df_M028.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_M029 = df_M029.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})

In [15]:
df_T001 = data_sensors(df_sensors,['T001']).reset_index(drop=True)
df_T002 = data_sensors(df_sensors,['T002']).reset_index(drop=True)
df_T003 = data_sensors(df_sensors,['T003']).reset_index(drop=True)
df_P001 = data_sensors(df_sensors,['P001']).reset_index(drop=True)

In [16]:
def num_data(value):
    return float(value)

In [17]:
df_T001['Measurement'] = df_T001['Measurement'].apply(num_data)
df_T002['Measurement'] = df_T002['Measurement'].apply(num_data)
df_T003['Measurement'] = df_T003['Measurement'].apply(num_data)
df_P001['Measurement'] = df_P001['Measurement'].apply(num_data)

In [18]:
df_T001 = df_T001.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_T002 = df_T002.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_T003 = df_T002.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_P001 = df_P001.groupby('DateTime',as_index=False).agg({"Measurement":"sum"})

In [19]:
df_D001 = data_sensors(df_sensors,['D001']).reset_index(drop=True)
df_D002 = data_sensors(df_sensors,['D002']).reset_index(drop=True)
df_D003 = data_sensors(df_sensors,['D003']).reset_index(drop=True)

In [20]:
def door_data(value):
    if value == 'OPEN':
        value = 1
    elif value == 'CLOSE':
        value = 0
    return value

In [21]:
df_D001['Measurement'] = df_D001['Measurement'].apply(door_data)
df_D002['Measurement'] = df_D002['Measurement'].apply(door_data)
df_D003['Measurement'] = df_D003['Measurement'].apply(door_data)

In [22]:
df_D001 = df_D001.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_D002 = df_D002.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})
df_D003 = df_D003.groupby('DateTime',as_index=False).agg({"Measurement":"mean"})

In [26]:
time_ini = pd.date_range('2010-03-31 00:04:00', periods=230396, freq='1min')
#time_fin = pd.date_range('2010-03-31 00:04:59', periods=230396, freq='1min')
#df_time_ini = pd.DataFrame({'TimeIni':time_ini})
#df_time_fin = pd.DataFrame({'TimeFin':time_fin})
df_full = pd.DataFrame({'DateTime':time_ini})
#df_full = pd.concat([df_time_ini, df_time_fin], axis=1, sort=False)
#df_full = pd.DataFrame({'TimeGap': np.arange(1,230397)},index=time_gap)
df_full['DayWeek'] = df_full['DateTime'].dt.dayofweek
df_full.head()

             DateTime  DayWeek
0 2010-03-31 00:04:00        2
1 2010-03-31 00:05:00        2
2 2010-03-31 00:06:00        2
3 2010-03-31 00:07:00        2
4 2010-03-31 00:08:00        2

In [ ]:
values = []
for e in range(df_P001.shape[0]):
    if df_full.TimeIni[0] <= df_P001.DateTime[e] <= df_full.TimeFin[0]:
        values.append(df_P001.Measurement[e])
    else:
        values.append(0)
value = sum(values)

In [ ]:
value

In [ ]:
df_P001.shape[0]*df_full.shape[0]

In [ ]:
%%time
values = []
new_serie = []
for i in range(10):
    for e in range(df_T001.shape[0]):
        if df_full.TimeIni[i] <= df_T001.DateTime[e] <= df_full.TimeFin[i]:
            values.append(df_T001.Measurement[e])
    value = statistics.mean(values)
    print(values)
    new_serie.append(value)

In [ ]:
new_serie

In [ ]:
def serie_sum(dataframe):
    values = []
    new_serie = []
    for i in range(df_full.shape[0]):
        for e in range(df_P001.shape[0]):
            if df_full.TimeIni[i] <= df_P001.DateTime[e] <= df_full.TimeFin[i]:
                values.append(df_P001.Measurement[e])
            else:
                values.append(0)
    value = sum(values)
    new_serie.append(value)      
    return new_serie

In [ ]:
def serie_mode(dataframe):
    values = []
    new_serie = []
    for i in range(df_full.shape[0]):
        for e in range(df_P001.shape[0]):
            if df_full.TimeIni[i] <= df_P001.DateTime[e] <= df_full.TimeFin[i]:
                values.append(df_P001.Measurement[e])
            else:
                values.append(0)
    value = statistics.mode(values)
    new_serie.append(value)      
    return new_serie

In [ ]:
df_motion = df_sensors[df_sensors.Sensor.isin(s_motion)]
display(df_motion.shape,df_motion.head(),df_motion.Measurement.unique())

In [ ]:
df_temp = df_sensors[df_sensors.Sensor.isin(s_temp)]
display(df_temp.shape,df_temp.head(),df_temp.Measurement.unique())

In [ ]:
df_doors = df_sensors[df_sensors.Sensor.isin(s_doors)]
display(df_doors.shape,df_doors.head(),df_doors.Measurement.unique())

In [ ]:
df_medicine = df_sensors[df_sensors.Sensor.isin(s_medicine)]
display(df_medicine.shape,df_medicine.head(),df_medicine.Measurement.unique())

In [ ]:
df_power = df_sensors[df_sensors.Sensor.isin(s_power)]
display(df_power.shape,df_power.head(),df_power.Measurement.min(),df_power.Measurement.max())

In [ ]:
#sensors.Measurement.unique()

In [ ]:
sensors.Sensor.value_counts()

In [ ]:
sensors.dtypes