### Testing

In [2]:
import pandas as pd

In [67]:
df_sensors = pd.read_csv('./input/data.csv', sep=' ',index_col=False,header=None,
                      names=['Date','Time','Sensor','Measurement'])
display(df_sensors.head(),df_sensors.shape,df_sensors.dtypes)

         Date         Time Sensor Measurement
0  2010-03-31  00:04:46.08   T001        15.5
1  2010-03-31  00:09:48.55   T001          15
2  2010-03-31  00:09:48.60   T003        14.5
3  2010-03-31  00:14:51.03   T001        14.5
4  2010-03-31  00:14:51.08   T003          14

(1269265, 4)

Date           object
Time           object
Sensor         object
Measurement    object
dtype: object

In [68]:
df_sensors['Date'] =  pd.to_datetime(df_sensors['Date'])
df_sensors['Time'] =  pd.to_datetime(df_sensors['Time'])#,format='%H:%M:%S.%f')
df_sensors['Day'] = df_sensors['Date'].dt.dayofweek
display(df_sensors.head(),df_sensors.shape,df_sensors.dtypes)

        Date                    Time Sensor Measurement  Day
0 2010-03-31 2019-03-18 00:04:46.080   T001        15.5    2
1 2010-03-31 2019-03-18 00:09:48.550   T001          15    2
2 2010-03-31 2019-03-18 00:09:48.600   T003        14.5    2
3 2010-03-31 2019-03-18 00:14:51.030   T001        14.5    2
4 2010-03-31 2019-03-18 00:14:51.080   T003          14    2

(1269265, 5)

Date           datetime64[ns]
Time           datetime64[ns]
Sensor                 object
Measurement            object
Day                     int64
dtype: object

In [22]:
s_motion = ['M001','M002','M003','M004','M005','M006','M007','M008','M009','M010','M011','M012','M013',
            'M014','M015','M016','M017','M018','M019','M020','M021','M022','M023','M024','M025','M026',
            'M027','M028','M029']

s_temp = ['T001','T002','T003']

s_doors = ['D001','D002','D003']

s_medicine = ['I001']

s_power = ['P001']

In [26]:
df_motion = df_sensors[df_sensors.Sensor.isin(s_motion)]
display(df_motion.shape,df_motion.head(),df_motion.Measurement.unique())

(866343, 4)

          Date         Time Sensor Measurement
5   2010-03-31  00:16:57.49   M001          ON
6   2010-03-31  00:17:00.54   M001         OFF
30  2010-03-31  03:14:31.01   M001          ON
31  2010-03-31  03:14:33.34   M001         OFF
38  2010-03-31  03:27:31.79   M001          ON

array(['ON', 'OFF'], dtype=object)

In [27]:
df_temp = df_sensors[df_sensors.Sensor.isin(s_temp)]
display(df_temp.shape,df_temp.head(),df_temp.Measurement.unique())

(19547, 4)

         Date         Time Sensor Measurement
0  2010-03-31  00:04:46.08   T001        15.5
1  2010-03-31  00:09:48.55   T001          15
2  2010-03-31  00:09:48.60   T003        14.5
3  2010-03-31  00:14:51.03   T001        14.5
4  2010-03-31  00:14:51.08   T003          14

array(['15.5', '15', '14.5', '14', '13.5', '13', '16.5', '16', '12.5',
       '17', '17.5', '0', '18', '18.5', '19', '12', '19.5', '11.5', '11',
       '10.5', '10', '9.5', '9', '20', '21', '22', '22.5', '21.5', '20.5',
       '23', '24.5', '25.5', '26.5', '24', '27.5', '26', '25', '27', '28',
       '28.5', '23.5', '85', '29', '29.5', '30.5', '30'], dtype=object)

In [28]:
df_doors = df_sensors[df_sensors.Sensor.isin(s_doors)]
display(df_doors.shape,df_doors.head(),df_doors.Measurement.unique())

(5390, 4)

            Date         Time Sensor Measurement
501   2010-03-31  17:30:51.20   D001        OPEN
503   2010-03-31  17:31:00.96   D001       CLOSE
662   2010-03-31  17:38:02.70   D001        OPEN
670   2010-03-31  17:38:08.84   D001       CLOSE
1152  2010-04-01  10:28:17.42   D001        OPEN

array(['OPEN', 'CLOSE'], dtype=object)

In [31]:
df_medicine = df_sensors[df_sensors.Sensor.isin(s_medicine)]
display(df_medicine.shape,df_medicine.head(),df_medicine.Measurement.unique())

(443, 4)

              Date         Time Sensor Measurement
406823  2010-06-21  11:01:21.76   I001     PRESENT
406826  2010-06-21  11:01:31.72   I001     PRESENT
406841  2010-06-21  11:09:10.85   I001     PRESENT
406853  2010-06-21  11:10:20.71   I001     PRESENT
407148  2010-06-21  11:34:00.98   I001      ABSENT

array(['PRESENT', 'ABSENT'], dtype=object)

In [39]:
df_power = df_sensors[df_sensors.Sensor.isin(s_power)]
display(df_power.shape,df_power.head(),df_power.Measurement.min(),df_power.Measurement.max())

(377542, 4)

             Date         Time Sensor Measurement
95385  2010-05-11  12:10:45.58   P001        0.26
95386  2010-05-11  12:10:46.59   P001        0.21
95390  2010-05-11  12:10:55.63   P001        0.24
95397  2010-05-11  12:11:11.73   P001        0.21
95401  2010-05-11  12:11:22.77   P001        0.24

'0.03'

'9.99'

In [20]:
#sensors.Measurement.unique()

In [12]:
sensors.Sensor.value_counts()

P001    377542
M006     86428
M005     84963
M009     65503
M008     62106
M001     61328
M007     48354
M024     44796
M011     38867
M012     38671
M010     33179
M026     29947
M003     29352
M002     23394
M004     21632
M019     20946
M027     20315
M017     19647
M025     19564
M018     19476
M029     17100
M022     16205
M020     15513
M028     14838
M021     10269
M013      9647
T003      8175
T001      6809
D001      4651
T002      4563
M014      4074
M023      3799
M016      3647
M015      2783
I001       443
D003       434
D002       305
Name: Sensor, dtype: int64

In [13]:
sensors.dtypes

Date           object
Time           object
Sensor         object
Measurement    object
dtype: object