# ![IronHack Logo](https://s3-eu-west-1.amazonaws.com/ih-materials/uploads/upload_d5c5793015fec3be28a63c4fa3dd4d55.png)

# [pandas-project]

## Octavio Garcia Moreno

###### 30/01/2019

## Análisis Inicial de los Datos
Se realiza una codificación del archivo al formato utf-8 previo a su importación. El archivo GSAF5.csv es un fichero que contiene Global Shark Attack Incidents (5992 rows × 24 columns). Dicha información contiene los siguientes atributos (columnas):
- Número de caso (**Case Number**): Dato tipo object con el nombre del fichero .pdf con la información sobre el ataque. Se correlaciona con 'pdf', 'href formula', 'href', 'Case Number.1', 'Case Number.2'. Sin valor para platear hipótesis.
- Fecha (**Date**): Descripción del momento que ha ocurrido el evento. Es un tipo object muy variado que va desde la fecha exacta (i.e.: 23-Jul-16) hasta un momento indeterminado (i.e. World War II) o incluso 'No date'. Tiene valores nulos mientras que 'Year' no los tiene por lo que se decide trabajar con el atributo 'Year'.
- Año (**Year**): Dato tipo entero que indica el año de ocurrencia del ataque. Se identifican valores que no se corresponden a años.
- Circunstancia (**Type**): Dato tipo object que describe las circunstancias en las que ha ocurrido el ataque. DETERMNAR CUANTOS SON LOS UNNPROVOKED Y HACER DOS GRUPOS DE ANÁLISIS.
- Pais (**Country**): Dato tipo object que indica el país de ocurrencia. SOLO DEJARÍA ESTE DATO?
- Area (**Área**): Dato tipo object que indica la región del pais. NO APORTA MUCHO (VER NULLS).
- Localización (**Location**): Dato tipo object que indica el lugar exacto del evento. NO APORTA MUCHO (VER NULLS).
- Actividad durante el ataque (**Activity**): Dato tipo object que indica la actividad que se estaba realizando durante el ataque. SE PODRIA CORRELACIONAR CON CIRCUNSTANCIA.
- Nombre/Identificación (**Name**): Dato tipo object que identifica a la persona(s) atacadas. NO APORTA MUCHO PARA ANÁLISIS (¿BORRAR?). SE PODRÍA HACER UN ANÁLISIS DE CASOS MULTIPLES VS INDIVIDUOS.
- Género (**Sex**): Dato tipo object que identifica el sexo de la victima. VER NULLS (CASI NINGUNA MUJER?)
- Edad (**Age**): Dato tipo object que indica la edad de la víctima. Hay valores no precisos como '60s' y muchos nulos.
- Tipo de Lesión (**Injury**): Dato tipo object donde se describe el tipo de lesión provocada. Se correlaciona con 'Circunstancia' y 'Fatalidad'. 
- Fatalidad (**Fatal (Y/N**): Dato tipo object que indica 'Y/N'. CONVERTIRLO EN BOOLEANO O LIMPIARLO PARA DIVIDIR.
- Hora (**Time**): Dato tipo object que indica el momento del día en que ocurrió el ataque. Va desde una hora concreta (i.e.: 13h00) hasta un momento del día (i.e.: Afternoon).
- Tipo de Tiburón (**Species**): Dato tipo object que indica el tipo de tiburón y la cantidad de los mismos. MUY VARIADO...NO APORTA MUCHO PARA ANÁLISIS.
- Fuente (**Investigator or Source**): Dato tipo object que describe la fuente de la información (persona o medio informativo). NO APORTA MUCHO - BORRAR 
- Documento asociado (**pdf**): Dato tipo object con el nombre del fichero .pdf con la información sobre el ataque. Se correlaciona con 'href formula', 'href', 'Case Number.1', 'Case Number.2'. NO APORTA MUCHO - BORRAR 
- Enlace Informativo (**href formula**): Dato tipo object con el enlace al fichero .pdf con la información sobre el ataque. Se correlaciona con 'pdf', 'href', 'Case Number.1', 'Case Number.2'. NO APORTA MUCHO - BORRAR 
- Enlace Informativo (**href**): Repite la información de 'href formula'. Probablemente se trate de un Excel que haya generado dos valores al terner hipervinculos a los enlaces. BORRAR
- Identificador de Caso (**Case Number.1**): Dato tipo object con el nombre del fichero .pdf con la información sobre el ataque. Se correlaciona con 'pdf', 'href formula', 'href', 'Case Number.2'. SIN RELEVANCIA - BORRAR. 
- Identificador de Caso (**Case Number.2**): Columna que repite la información de 'Case Number.2'. BORRAR
- Orden de Ocurrencia ¿Cronológico? (**original order**): Dato tipo entero que indica una especie de orden "cronológico" inverso en el que ocurrieron los eventos. Ojo que el orden no tiene sentido en los casos donde las fechas no están correctamente determinadas. SIN MUCHA RELEVANCIA - BORRAR.
- Atributo sin datos (**Unnamed: 22**). BORRAR.
- Atributo sin datos (**Unnamed: 22**). BORRAR.

In [29]:
import pandas as pd
import numpy as np
fileName = "./GSAF5.csv" 
df1 = pd.read_csv(fileName)
#display(df1.head(1000000))
display(df1.dtypes)
df2 = df1.copy()

Case Number               object
Date                      object
Year                       int64
Type                      object
Country                   object
Area                      object
Location                  object
Activity                  object
Name                      object
Sex                       object
Age                       object
Injury                    object
Fatal (Y/N)               object
Time                      object
Species                   object
Investigator or Source    object
pdf                       object
href formula              object
href                      object
Case Number.1             object
Case Number.2             object
original order             int64
Unnamed: 22               object
Unnamed: 23               object
dtype: object

In [32]:
#display(df2[['Case Number','Date','Year','Type','Country','Area','Location']])

In [33]:
#display(df2[['Activity','Name','Sex ','Age','Injury','Fatal (Y/N)','Time']])

In [34]:
#display(df2[['Species ','Investigator or Source','pdf','href formula']])

In [38]:
#display(df2[['href','Case Number.1','Case Number.2','original order','Unnamed: 22','Unnamed: 23']])

### Data Cleaning
Se realizan varias fases de data cleaning:
- **Fase 1:** Eliminación de columnas sin datos y/o con datos repetitivos.
- **Fase 2:** Eliminación de columnas con datos irrelevantes para cualquier análisis (i.e.: códigos de identificación).
- **Fase 3:** Eliminación de registros irrelevantes para el análisis (se hará en la siguiente fase del proyecto).

In [30]:
#Fase 1. Eliminar columnas sin datos o con datos repetidos en otras columnas    
col_f1 = ['href','Case Number.1','Case Number.2','Unnamed: 22','Unnamed: 23']
df3 = df2.drop(col_f1, axis=1)
#display(df3)
#display(df3.dtypes)

In [45]:
#Fase 2. Eliminar datos irrelevantes. 
#2.1.Elimino primero las columnas con datos que no aportan valor a los posibles análisis a realizar.

col_f2 = ['Case Number','Investigator or Source','pdf','href formula']
df4 = df3.drop(col_f2, axis=1)
#display(df4)
#display(df4.dtypes)

In [46]:
#2.2. Determino columna con un volumen alto de valores null para eliminarlas y acotar las posibles hipótesis.
null_col = df4.isnull().sum()
#null_col[null_col > 0]
display(null_col)

Date                 0
Year                 0
Type                 0
Country             43
Area               402
Location           496
Activity           527
Name               200
Sex                567
Age               2681
Injury              27
Fatal (Y/N)         19
Time              3213
Species           2934
original order       0
dtype: int64

In [47]:
#2.3. Elimino columnas con exceso de nulos teniendo en cuenta que el dataset contiene 5992 registros.
col_f3 = list(null_col[null_col > 1000].index)
df5 = df4.drop(col_f3, axis=1)
#display(df5)
display(df5.dtypes)

Date              object
Year               int64
Type              object
Country           object
Area              object
Location          object
Activity          object
Name              object
Sex               object
Injury            object
Fatal (Y/N)       object
original order     int64
dtype: object

In [48]:
#2.4. Elimino registros duplicados en caso de haberlos. Se utiliza el atributo 'Case Number'.

b = len(df5)
df6 = df5.drop_duplicates()
a = len(df6)
print('Número de registros duplicados eliminados: ', str(b - a))

Número de registros duplicados eliminados:  0

In [70]:
#Atributos relevantes
atributes = ['Date','Year','Type','Country','Area','Location','Activity','Name','Sex ','Injury','Fatal (Y/N)','original order']

#Analisis preliminar de datos para la propuesta de hipótesis.
#print(set(df6['Date']))
print('Date',len(set(df6['Date']))) 
#print(set(df6['Year']))
print('Year',len(set(df6['Year']))) 
print(set(df6['Type']))
print('Type',len(set(df6['Type']))) 
#print(set(df6['Country']))
print('Country',len(set(df6['Country']))) 
#print(set(df6['Area']))
print('Area',len(set(df6['Area']))) 
#print(set(df6['Location']))
print('Location',len(set(df6['Location']))) 
#print(set(df6['Activity']))
print('Activity',len(set(df6['Activity']))) 
#print(set(df6['Name']))
print('Name',len(set(df6['Name']))) 
print(set(df6['Sex ']))
print('Sex ',len(set(df6['Sex '])))
#print(set(df6['Injury']))
print('Injury',len(set(df6['Injury']))) 
print(set(df6['Fatal (Y/N)']))
print('Fatal (Y/N)',len(set(df6['Fatal (Y/N)']))) 
print('Dataset(df6):',len(df6))

Date 5128
Year 232
{'Boating', 'Sea Disaster', 'Invalid', 'Unprovoked', 'Provoked', 'Boat'}
Type 6
Country 204
Area 786
Location 3930
Activity 1493
Name 5010
{nan, 'N', 'F', '.', 'M', 'M ', 'lli'}
Sex  7
Injury 3596
{'Y', nan, 'UNKNOWN', 'N', 'N ', 'F', '#VALUE!', 'n', ' N'}
Fatal (Y/N) 9
Dataset(df6): 5992

In [ ]:
#Limpieza del atributo Sex

df6[['Sex ','Fatal (Y/N)']] = df6[['Sex ', 'Fatal (Y/N)']].fillna(0)

In [96]:
#Analisis del atributo 'Sex '
display(df6.loc[df6['Sex ']=='N',['Year','Name','Sex ','Injury','Fatal (Y/N)']])
display(df6.loc[df6['Sex ']=='.',['Year','Name','Sex ','Injury','Fatal (Y/N)']])
display(df6.loc[df6['Sex ']=='lli',['Year','Name','Sex ','Injury','Fatal (Y/N)']])

display(df6.loc[df6['Sex ']=='F',['Year','Name','Sex ','Injury','Fatal (Y/N)']])
display(df6.loc[df6['Sex ']=='M',['Year','Name','Sex ','Injury','Fatal (Y/N)']])
display(df6.loc[df6['Sex ']=='M ',['Year','Name','Sex ','Injury','Fatal (Y/N)']])

,Year,Name,Sex,Injury,Fatal (Y/N)
4708,1934,"18' boat, occupants William & Leslie Newton",N,No injury to occupants Sharks continually foll...,N

,Year,Name,Sex,Injury,Fatal (Y/N)
5201,1908,NaN,.,"Remains of 3 humans recovered from shark, but ...",Y

      Year        Name Sex                               Injury Fatal (Y/N)
1400  2004  Brian Kang  lli  Lacerations to hand, knee & thigh            N

,Year,Name,Sex,Injury,Fatal (Y/N)
7,2016,female,F,Severe lacerations to shoulder & forearm,N
9,2016,Rylie Williams,F,Lacerations & punctures to lower right leg,N
30,2016,female,F,Minor injury to leg,N
31,2016,female,F,Minor injury to toes,N
34,2016,female,F,"5 tiny puncture marks to lower leg, treated wi...",N
38,2016,female,F,"Buttocks, thigh, left hand & wrist injured",N
48,2016,Marin Alice Melton,F,Injury to lower leg,N
52,2016,Doreen Collyer,F,FATAL,Y
57,2016,Maria Korcsmaros \n,F,Injuries to arm and shoulder,N
59,2016,Mary Marcus,F,Puncture wounds to thigh,N
60,2016,Krystal Magee,F,Lacerations and puncture wounds to foot and ankle,N
61,2016,female,F,"Back, arm & hand injured",N
63,2016,female,F,Arm grabbed PROVOKED INCIDENT,N
72,2016,Nicole Malignon,F,FATAL,Y
76,2016,J. Orr,F,Minor injury to left foot,N
89,2016,Patricia Howe,F,Avulsion injury to lower leg,N
92,2016,female,F,Foot nipped,N
96,2016,Kaya Waldman,F,No injury,N
104,2015,Cristina Ojeda-Thies,F,Lacerations to left forearm,N
111,2015,Tamsin Scott,F,Lacerations to both hands and forearms,N
113,2015,female,F,Leg injured,N
116,2015,Ryla Underwood,F,Lower left leg injured,N
118,2015,Jill Kruse,F,Injury to right ankle/calf & hand,N
125,2015,Albertina Cavel,F,FATAL,Y
129,2015,Meti Kershner,F,Laceration to forearm,N
137,2015,female,F,Laceration to leg,N
146,2015,Caterina Gennaro,F,"No injury, shark struck board, tossing her int...",N
150,2015,Jane Neame,F,Left foot & ankle bitten,N
152,2015,Elinor Dempsey,F,"No injury, surfboard bitten",N
157,2015,Kaley Szarmack,F,Lacerations to right leg,N
...,...,...,...,...,...
5435,1892,Mrs. Coe,F,Abrasions to left leg,N
5508,1886,2 women,F,The body of one woman had been bitten by a sha...,Y
5529,1884,child,F,FATAL Leg severed by harpooned shar...,Y
5533,1884,Miss Warren,F,FATAL,Y
5569,1880,a widow,F,"Hands, forearm & left thigh lacerated, radial ...",N
5574,1880,Teresa Bonnell,F,Lacerations to leg,N
5595,1878,Dolores Margarita Corrales y Roa,F,FATAL,Y
5610,1877,female,F,Ankle injured,N
5698,1862,The widowed Marchioness of Lendinez,F,Survived,N
5705,1862,A chiefess,F,Ankle bitten,N
5730,1855,child,F,FATAL,Y
5747,1852,Karen Bredesen Str\E6te,F,Death preceded shark involvement,NaN
5760,1849,Mrs. Cracton,F,FATAL,Y
5798,1834,Kaugatava Orurutm,F,FATAL,Y
5799,1832,Aboriginal female,F,Leg severed,N
5832,1800,NaN,F,"FATAL, all onboard were killed by sharks",Y
5833,1791,"female, an Australian aboriginal",F,"FATAL, ""bitten in two""",Y
5879,0,Lassie,F,Foot severed,N
5883,0,Martha Hatagouei,F,FATAL,Y
5888,0,female,F,Leg severely bitten,N
5890,0,Danniell Washington,F,Severe abrasion to forearm from captive shark ...,N
5896,0,Sametra Mestri,F,Hand severed,N
5910,0,"female, a Hae Nyeo",F,"FATAL, injured while diving, then shark bit her",Y
5913,0,female,F,FATAL,Y
5918,0,Jill Reed,F,"Shoulder scratched, swim fin bitten",N
5921,0,woman,F,FATAL,Y
5935,0,girl,F,Leg injured,N
5937,0,Fijian girl,F,"""Severely injured when fish were seized by shark""",N
5969,0,Madelaine Dalton,F,Ankle bitten,N
5982,0,A chiefess,F,Ankle bitten,N

,Year,Name,Sex,Injury,Fatal (Y/N)
0,2016,male,M,Minor injury to thigh,N
1,2016,Chucky Luciano,M,Lacerations to hands,N
2,2016,male,M,Lacerations to lower leg,N
3,2016,Rory Angiolella,M,Struck by fin on chest & leg,N
4,2016,male,M,No injury: Knocked off board by shark,N
6,2016,male,M,Minor injury to arm,N
8,2016,David Jewell,M,FATAL,Y
10,2016,Fraser Penman,M,"No inury, board broken in half by shark",N
11,2016,Austin Moore,M,Foot bitten,N
12,2016,Tyler McQuillen,M,Two toes broken & lacerated,N
13,2016,Sam Cumiskey,M,Lacerations to right foot,N
14,2016,male,M,Minor injury to ankle,N
15,2016,Laurent Chardard,M,"Right arm severed, ankle severely bitten",N
16,2016,David Cassetty,M,Minor injury to ankle,N
17,2016,Johnny Stoch,M,Lacerations to left leg,N
18,2016,Connor Baxter,M,"No inury, shark & board collided",N
19,2016,Nolan Tyler,M,Big toe bitten,N
20,2016,male,M,Lacerations to right hand,N
21,2016,Justus Franz,M,Lacerations to leg,N
22,2016,Ian Watkins,M,"No injury, shark nudged kayak repeatedly",N
23,2016,Warren Sapp,M,Laceration to left forearm PROVOKED INCIDENT,N
24,2016,Curran See & Harry Lake,M,"No injury. Leg rope severed, knocked off board...",N
25,2016,male,M,Lacerations to left leg,N
26,2016,Zebulon Critchlow,M,Calf bumped but no injury,N
27,2016,Steve Cutbirth,M,Lacerations to face and right leg,N
28,2016,Scott van Burck,M,Laceration to left calf from hooked shark PROV...,N
32,2016,male,M,Puncture wounds to foot,N
33,2016,Michael Dornellas,M,Face bruised when partly blind shark collided ...,N
35,2016,Mark Davis,M,"No injury. Hull bitten, tooth fragment recovered",N
36,2016,Roger Brissom,M,Fin of hooked shark injured fisherman's forear...,N
...,...,...,...,...,...
5958,0,a pearl diver,M,"Foot lacerated, surgically amputated",N
5959,0,"8 US airmen in the water, 1 was bitten by a shark",M,FATAL,Y
5960,0,boy,M,4 finger severed by 'dead' shark. PROVOKED ACC...,N
5961,0,pilot,M,"No injury, but shark removed the heel & part o...",N
5962,0,male,M,Shark bumped him,N
5963,0,male,M,Fatal x 2,Y
5964,0,Occupant: Mr. Maciotta,M,No injury to occupant; shark capsized boat,N
5965,0,Psarofa-gomenes,M,Head bitten,N
5966,0,a servant,M,FATAL,Y
5967,0,"male, the Sergeant of Marines",M,NaN,UNKNOWN
5970,0,Jaringoorli,M,Lacerations to thigh,N
5971,0,Indian boy,M,"FATAL, leg severed",Y
5972,0,3 Japanese divers,M,FATAL,Y
5973,0,James Kelley,M,2-inch lacerations,N
5974,0,crewman,M,Foot bitten,N
5975,0,male,M,FATAL,Y
5976,0,male,M,FATAL,Y
5978,0,"""youthful male""",M,"""Lost leg""",N
5979,0,a native fisherman,M,"FATAL, body not recovered but shark was caught...",Y
5980,0,a young Scotsman,M,"FATAL, leg stripped of flesh",Y
5981,0,Mr. Masury,M,Foot severed,N
5983,0,boy,M,"FATAL, knocked overboard by tail of shark & ca...",Y
5984,0,fisherman,M,FATAL,Y
5985,0,fisherman,M,FATAL,Y
5986,0,Arab boy,M,FATAL,Y
5987,0,male,M,FATAL,Y
5988,0,Ahmun,M,FATAL,Y
5989,0,Coast Guard personnel,M,FATAL,Y
5990,0,Jules Patterson,M,FATAL,Y
5991,0,male,M,"FATAL. ""Shark bit him in half, carrying away t...",Y

,Year,Name,Sex,Injury,Fatal (Y/N)
341,2014,male,M,Laceration & puncture wounds to right foot,N
1363,2005,Ben Edelstein,M,Severe injury to lower leg,N

In [97]:
#Analisis del atributo 'Fatal (Y/N)'
display(df6.loc[df6['Fatal (Y/N)']=='UNKNOWN',['Year','Name','Sex ','Injury','Fatal (Y/N)']])
display(df6.loc[df6['Fatal (Y/N)']=='#VALUE!',['Year','Name','Sex ','Injury','Fatal (Y/N)']])

display(df6.loc[df6['Fatal (Y/N)']=='Y',['Year','Name','Sex ','Injury','Fatal (Y/N)']])
display(df6.loc[df6['Fatal (Y/N)']=='N',['Year','Name','Sex ','Injury','Fatal (Y/N)']])
display(df6.loc[df6['Fatal (Y/N)']=='N ',['Year','Name','Sex ','Injury','Fatal (Y/N)']])
display(df6.loc[df6['Fatal (Y/N)']==' N',['Year','Name','Sex ','Injury','Fatal (Y/N)']])
display(df6.loc[df6['Fatal (Y/N)']=='n',['Year','Name','Sex ','Injury','Fatal (Y/N)']])

,Year,Name,Sex,Injury,Fatal (Y/N)
401,2013,female,F,No details,UNKNOWN
1047,2008,Jamie Adlington,M,NaN,UNKNOWN
1142,2007,Alex Takyi,NaN,NaN,UNKNOWN
2025,1997,Jos\E9 Luiz Lipiani,M,NaN,UNKNOWN
2035,1997,Gersome Perreno,M,No details,UNKNOWN
2042,1996,Blair Hall,M,NaN,UNKNOWN
2070,1996,Trimurti Day,NaN,No details,UNKNOWN
2082,1996,Wayne Leong,M,No details,UNKNOWN
2098,1996,Marris,NaN,No details,UNKNOWN
2103,1995,Carlton Taniyama,M,No details,UNKNOWN
2163,1995,Hutchins,NaN,No details,UNKNOWN
2179,1995,male,M,No details,UNKNOWN
2184,1994,NaN,NaN,No details,UNKNOWN
2317,1992,male,M,No details,UNKNOWN
2423,1990,male,M,NaN,UNKNOWN
2425,1989,Ryan Johnson,M,"No details, ""recovering in Darwin Hospital""",UNKNOWN
2436,1989,John Benson,M,No details,UNKNOWN
2581,1986,Crawford,NaN,No details,UNKNOWN
2657,1984,NaN,NaN,No details,UNKNOWN
2675,1984,Greenwood,NaN,No details,UNKNOWN
2718,1983,Arnold Schwarzwood,M,No details,UNKNOWN
2771,1982,Giovanni Vuoso,M,No details,UNKNOWN
2773,1982,English holiday-maker,NaN,No details,UNKNOWN
2781,1981,Robert Conklin,M,No details,UNKNOWN
2813,1981,NaN,NaN,NaN,UNKNOWN
2816,1981,Filmer,NaN,No details,UNKNOWN
2982,1975,NaN,NaN,NaN,UNKNOWN
3073,1973,G. Cole,NaN,NaN,UNKNOWN
3171,1970,David Vota,M,No details,UNKNOWN
3186,1970,Mr. Jurincic,M,No details,UNKNOWN
...,...,...,...,...,...
4977,1923,John Hayes,M,Death may have been due to drowning,UNKNOWN
4987,1922,H.R.W.,M,"FATAL, but shark involvement prior to death un...",UNKNOWN
5014,1921,NaN,NaN,Buttons & shoes found in shark caught in fish ...,UNKNOWN
5038,1919,5 cadets from the Naval training ship Tingara,M,Shark involvement not confirmed,UNKNOWN
5097,1915,Remains of male found in shark,M,"Fatal, drowning or scavenging",UNKNOWN
5114,1914,Indian female,F,No details,UNKNOWN
5120,1913,NaN,M,Man's leg recovered from 800-lb shark,UNKNOWN
5121,1913,NaN,F,Female foot recovered from shark,UNKNOWN
5134,1912,arm recovered from hooked shark,M,NaN,UNKNOWN
5173,1910,Lieut. James H. Stewart,M,"Calf removed, not known if he survived",UNKNOWN
5308,1901,boy,M,NaN,UNKNOWN
5316,1900,George Brown,M,No injury,UNKNOWN
5355,1898,male,M,Unknown,UNKNOWN
5373,1897,Anonymous,NaN,No details,UNKNOWN
5411,1894,Catherine Beach,F,No injury,UNKNOWN
5414,1894,Erskine H. Reynolds,M,"""Painfully injured"" but no details",UNKNOWN
5432,1893,No details,NaN,No details,UNKNOWN
5464,1890,a pearl diver,M,No details,UNKNOWN
5465,1890,a pearl diver,M,No details,UNKNOWN
5697,1862,NaN,NaN,NaN,UNKNOWN
5726,1856,a seaman from the John and Lucy,M,Severe bite to thigh. Not known if he survived,UNKNOWN
5795,1836,NaN,NaN,"No details, it was the year the first settlers...",UNKNOWN
5845,1755,Fishermen,M,NaN,UNKNOWN
5856,1638,sailors,M,NaN,UNKNOWN
5857,1637,Hindu pilgrims,NaN,NaN,UNKNOWN
5858,1617,Indian people,NaN,NaN,UNKNOWN
5860,1595,male,M,"Leg severed mid-thigh, hand severed, arm above...",UNKNOWN
5862,1555,male,M,NaN,UNKNOWN
5863,1554,males (wearing armor),M,NaN,UNKNOWN
5967,0,"male, the Sergeant of Marines",M,NaN,UNKNOWN

,Year,Name,Sex,Injury,Fatal (Y/N)
5461,1890,Joseph Lundy,M,Forensic evidence indicated death resulted fro...,#VALUE!

,Year,Name,Sex,Injury,Fatal (Y/N)
8,2016,David Jewell,M,FATAL,Y
52,2016,Doreen Collyer,F,FATAL,Y
56,2016,Ben Gerring,M,FATAL,Y
72,2016,Nicole Malignon,F,FATAL,Y
83,2016,Maika Tabua,M,FATAL,Y
108,2015,Adrian Esteban Rafael,M,FATAL,Y
125,2015,Albertina Cavel,F,FATAL,Y
164,2015,Damien Johnson,M,FATAL,Y
204,2015,Yves Berthelot,M,FATAL,Y
208,2015,Margaret Cruse,F,FATAL,Y
214,2015,Elio Canestri,M,FATAL,Y
217,2015,Eugenio Masala,M,"FATAL, but shark involvement prior to death un...",Y
219,2015,male,M,FATAL,Y
226,2015,Talon Bishop,F,FATAL,Y
227,2015,Tadashi Nakahara,M,FATAL,Y
242,2014,Jay Muscat,M,FATAL,Y
248,2014,Daniel Smith,M,FATAL,Y
251,2014,Rameshwar Ram Dhauro,M,"FATAL, arm bitten by shark hauled on deck ...",Y
278,2014,Paul Wilcox,M,FATAL,Y
303,2014,Cuban refugees,M,Shark involvement prior to death not confirmed,Y
310,2014,John Petty,M,"Missing after a dive, shark involvement consid...",Y
347,2014,Christine Armstrong,F,FATAL,Y
348,2014,Michael McGregor,M,Shark bites may have been post mortem,Y
349,2014,Friedrich Burgstaller.,M,FATAL,Y
360,2014,Sam Kellett,M,FATAL,Y
373,2013,Patrick Briney,M,FATAL,Y
374,2013,Zac Young,M,FATAL,Y
376,2013,Chris Boyd,M,FATAL,Y
390,2013,Burgert Van Der Westhuizen,M,FATAL,Y
416,2013,Jana Lutteropp,F,FATAL,Y
...,...,...,...,...,...
5942,0,male,M,FATAL,Y
5943,0,an Indian,M,"FATAL, leg severed",Y
5944,0,Sandrillio,M,"FATAL, hip bitten PROVOKED INCIDENT",Y
5948,0,Gilbertese fisherman,M,FATAL,Y
5949,0,C.,NaN,"FATAL, shark leapt into raft and bit the man w...",Y
5952,0,an old fisherman,M,"FATAL, foot lacerated & crushed",Y
5953,0,a local dignitary,M,"FATAL, femoral artery severed, died 12 days la...",Y
5954,0,I.A.S. C. driver,M,"FATAL, fell into water when shark seized his r...",Y
5955,0,male,M,"FATAL, left leg bitten with severe blood loss",Y
5956,0,a pearl diver,M,"FATAL, died of sepsis",Y
5959,0,"8 US airmen in the water, 1 was bitten by a shark",M,FATAL,Y
5963,0,male,M,Fatal x 2,Y
5966,0,a servant,M,FATAL,Y
5968,0,NaN,NaN,FATAL,Y
5971,0,Indian boy,M,"FATAL, leg severed",Y
5972,0,3 Japanese divers,M,FATAL,Y
5975,0,male,M,FATAL,Y
5976,0,male,M,FATAL,Y
5977,0,20 Fijians,NaN,"FATAL, 18 people were killed by sharks, 2 sur...",Y
5979,0,a native fisherman,M,"FATAL, body not recovered but shark was caught...",Y
5980,0,a young Scotsman,M,"FATAL, leg stripped of flesh",Y
5983,0,boy,M,"FATAL, knocked overboard by tail of shark & ca...",Y
5984,0,fisherman,M,FATAL,Y
5985,0,fisherman,M,FATAL,Y
5986,0,Arab boy,M,FATAL,Y
5987,0,male,M,FATAL,Y
5988,0,Ahmun,M,FATAL,Y
5989,0,Coast Guard personnel,M,FATAL,Y
5990,0,Jules Patterson,M,FATAL,Y
5991,0,male,M,"FATAL. ""Shark bit him in half, carrying away t...",Y

,Year,Name,Sex,Injury,Fatal (Y/N)
0,2016,male,M,Minor injury to thigh,N
1,2016,Chucky Luciano,M,Lacerations to hands,N
2,2016,male,M,Lacerations to lower leg,N
3,2016,Rory Angiolella,M,Struck by fin on chest & leg,N
4,2016,male,M,No injury: Knocked off board by shark,N
5,2016,Occupant: Ben Stratton,NaN,Shark rammed boat. No injury to occupant,N
6,2016,male,M,Minor injury to arm,N
7,2016,female,F,Severe lacerations to shoulder & forearm,N
9,2016,Rylie Williams,F,Lacerations & punctures to lower right leg,N
10,2016,Fraser Penman,M,"No inury, board broken in half by shark",N
11,2016,Austin Moore,M,Foot bitten,N
12,2016,Tyler McQuillen,M,Two toes broken & lacerated,N
13,2016,Sam Cumiskey,M,Lacerations to right foot,N
14,2016,male,M,Minor injury to ankle,N
15,2016,Laurent Chardard,M,"Right arm severed, ankle severely bitten",N
16,2016,David Cassetty,M,Minor injury to ankle,N
17,2016,Johnny Stoch,M,Lacerations to left leg,N
18,2016,Connor Baxter,M,"No inury, shark & board collided",N
19,2016,Nolan Tyler,M,Big toe bitten,N
20,2016,male,M,Lacerations to right hand,N
21,2016,Justus Franz,M,Lacerations to leg,N
22,2016,Ian Watkins,M,"No injury, shark nudged kayak repeatedly",N
23,2016,Warren Sapp,M,Laceration to left forearm PROVOKED INCIDENT,N
24,2016,Curran See & Harry Lake,M,"No injury. Leg rope severed, knocked off board...",N
25,2016,male,M,Lacerations to left leg,N
26,2016,Zebulon Critchlow,M,Calf bumped but no injury,N
27,2016,Steve Cutbirth,M,Lacerations to face and right leg,N
28,2016,Scott van Burck,M,Laceration to left calf from hooked shark PROV...,N
29,2016,Occupant: Ben Raines,NaN,"No injury, shark bit trolling motor",N
30,2016,female,F,Minor injury to leg,N
...,...,...,...,...,...
5928,0,Dalton Baldwin,M,"No injury, bumped by shark which took speared ...",N
5929,0,Les Bishop,M,Bumped by sharks,N
5931,0,male,M,Right hand severed,N
5932,0,male,M,Arm severed,N
5933,0,male,M,Right leg lacerated & surgically amputated,N
5934,0,"male, a sponge Diver",M,Lower leg and forearm severed,N
5935,0,girl,F,Leg injured,N
5936,0,Ross Doe,M,Shoulder abraded by skin of shark,N
5937,0,Fijian girl,F,"""Severely injured when fish were seized by shark""",N
5939,0,Horton Chase,M,Abrasions & bruises hip to ankle,N
5940,0,John Fenton,M,Shark bit diver's sleeve after he patted it on...,N
5945,0,male,M,Buttocks bitten,N
5946,0,Dusty Rhodes,M,No injury,N
5947,0,male,M,Survived,N
5950,0,American male,M,Buttock bitten,N
5951,0,Mortakee,M,Head bitten,N
5957,0,a fisherman / diver,M,Buttocks bitten,N
5958,0,a pearl diver,M,"Foot lacerated, surgically amputated",N
5960,0,boy,M,4 finger severed by 'dead' shark. PROVOKED ACC...,N
5961,0,pilot,M,"No injury, but shark removed the heel & part o...",N
5962,0,male,M,Shark bumped him,N
5964,0,Occupant: Mr. Maciotta,M,No injury to occupant; shark capsized boat,N
5965,0,Psarofa-gomenes,M,Head bitten,N
5969,0,Madelaine Dalton,F,Ankle bitten,N
5970,0,Jaringoorli,M,Lacerations to thigh,N
5973,0,James Kelley,M,2-inch lacerations,N
5974,0,crewman,M,Foot bitten,N
5978,0,"""youthful male""",M,"""Lost leg""",N
5981,0,Mr. Masury,M,Foot severed,N
5982,0,A chiefess,F,Ankle bitten,N

      Year       Name Sex     Injury Fatal (Y/N)
5191  1909  anonymous  NaN  Survived          N

,Year,Name,Sex,Injury,Fatal (Y/N)
3716,1960,Mrs. Despo Snow-Christensen,F,"Shark brushed past, minor injuries if any",N
3718,1960,Lester McDougall,M,Left thigh lacerated,N
3720,1960,Harry Bicknell,M,Right shoulder lacerated,N
3722,1960,Ken O\92Connell,M,"Shark knocked him off surf-ski, he inhaled wat...",N
3723,1960,Don Morrissey,M,Scratches on right upper arm,N
3725,1960,Fisheries trainee,M,Left wrist bitten by netted shark placed in bo...,N
3729,1960,B. Hooper,M,"Swept off rocks & presumed to have drowned, sh...",N
3730,1960,NaN,M,Injuries to leg & foot,N

      Year  Name Sex                                  Injury Fatal (Y/N)
5779  1842  male  NaN  Lacerations to leg  PROVOKED INCIDENT           n

Hola