# Intro to Recommender Systems Lab

Complete the exercises below to solidify your knowledge and understanding of recommender systems.

For this lab, we are going to be putting together a user similarity based recommender system in a step-by-step fashion. Our data set contains customer grocery purchases, and we will use similar purchase behavior to inform our recommender system. Our recommender system will generate 5 recommendations for each customer based on the purchases they have made.

In [1]:
import pandas as pd
from scipy.spatial.distance import pdist, squareform

In [2]:
data = pd.read_csv('../data/customer_product_sales.csv')

## Step 1: Create a data frame that contains the total quantity of each product purchased by each customer.

You will need to group by CustomerID and ProductName and then sum the Quantity field.

In [3]:
df_products = data.groupby(['CustomerID','ProductName']).sum().Quantity
df_products = pd.DataFrame(df_products)
df_products.head()

                                          Quantity
CustomerID ProductName
33         Apricots - Dried                      1
           Assorted Desserts                     1
           Bandage - Flexible Neon               1
           Bar Mix - Pina Colada, 355 Ml         1
           Beans - Kidney, Canned                1

## Step 2: Use the `pivot_table` method to create a product by customer matrix.

The rows of the matrix should represent the products, the columns should represent the customers, and the values should be the quantities of each product purchased by each customer. You will also need to replace nulls with zeros, which you can do using the `fillna` method.

In [4]:
pivot = pd.pivot_table(df_products, values='Quantity', index=['ProductName'], columns=['CustomerID'], fill_value=0)

## Step 3: Create a customer similarity matrix using `squareform` and `pdist`. For the distance metric, choose "euclidean."

In [5]:
distances = pd.DataFrame(1/(1+squareform(pdist(pivot.T,'euclidean'))),index=pivot.columns,columns=pivot.columns)
distances.head()

CustomerID,33,200,264,356,412,464,477,639,649,669,...,97697,97753,97769,97793,97900,97928,98069,98159,98185,98200
CustomerID,,,,,,,,,,,,,,,,,,,,,
33,1.000000,0.077421,0.087047,0.081800,0.080634,0.082709,0.074573,0.083020,0.081503,0.080070,...,0.004811,0.004669,0.004412,0.005019,0.004312,0.004515,0.004583,0.004355,0.004167,0.004333
200,0.077421,1.000000,0.078448,0.076435,0.073693,0.075255,0.075956,0.076435,0.077674,0.076923,...,0.004824,0.004681,0.004431,0.005047,0.004311,0.004521,0.004614,0.004367,0.004166,0.004335
264,0.087047,0.078448,1.000000,0.080070,0.081800,0.080350,0.076923,0.080634,0.082100,0.078448,...,0.004822,0.004674,0.004416,0.005035,0.004322,0.004543,0.004595,0.004365,0.004179,0.004333
356,0.081800,0.076435,0.080070,1.000000,0.076435,0.078187,0.075025,0.082403,0.077171,0.075956,...,0.004816,0.004671,0.004416,0.005038,0.004310,0.004526,0.004578,0.004365,0.004175,0.004339
412,0.080634,0.073693,0.081800,0.076435,1.000000,0.078711,0.075025,0.082403,0.078187,0.078448,...,0.004810,0.004702,0.004414,0.005034,0.004318,0.004530,0.004578,0.004367,0.004177,0.004349

## Step 4: Check your results by generating a list of the top 5 most similar customers for a specific CustomerID.

In [6]:
distances = pd.DataFrame(1/(1+squareform(pdist(pivot.T,'euclidean'))),index=pivot.columns,columns=pivot.columns)
similarities = distances[200].sort_values(ascending=False)[1:].head()
similarities

CustomerID
3317    0.084959
1072    0.083972
3535    0.082403
1920    0.082100
3909    0.080920
Name: 200, dtype: float64

## Step 5: From the data frame you created in Step 1, select the records for the list of similar CustomerIDs you obtained in Step 4.

In [7]:
records = df_products.loc[similarities.index]
records.head()

                                              Quantity
CustomerID ProductName
1072       Appetizer - Mini Egg Roll, Shrimp         1
           Appetizer - Sausage Rolls                 1
           Beans - Kidney, Canned                    1
           Beef - Montreal Smoked Brisket            1
           Beef - Striploin Aa                       1

## Step 6: Aggregate those customer purchase records by ProductName, sum the Quantity field, and then rank them in descending order by quantity.

This will give you the total number of each product purchased by the 5 most similar customers to the customer you selected in order from most purchased to least.

In [8]:
similar = records.groupby(['ProductName']).sum().Quantity.sort_values(ascending=False)
similar = pd.DataFrame(similar)
similar.head(10)

                                  Quantity
ProductName
Soup - Campbells Bean Medley             4
Muffin - Carrot Individual Wrap          3
Bay Leaf                                 3
Pork - Kidney                            3
Pepper - Black, Whole                    3
Wanton Wrap                              3
Lamb - Ground                            3
Ice Cream Bar - Oreo Cone                2
Cheese - Boursin, Garlic / Herbs         2
Chips Potato Salt Vinegar 43g            2

## Step 7: Filter the list for products that the chosen customer has not yet purchased and then recommend the top 5 products with the highest quantities that are left.

- Merge the ranked products data frame with the customer product matrix on the ProductName field.
- Filter for records where the chosen customer has not purchased the product.
- Show the top 5 results.

In [9]:
top5_products = similar[~similar.index.isin(df_products.loc[200].index)]
top5_products.head(10)

                                  Quantity
ProductName
Soup - Campbells Bean Medley             4
Muffin - Carrot Individual Wrap          3
Bay Leaf                                 3
Pork - Kidney                            3
Wanton Wrap                              3
Ice Cream Bar - Oreo Cone                2
Cheese - Boursin, Garlic / Herbs         2
Chips Potato Salt Vinegar 43g            2
Chinese Foods - Chicken                  2
Lamb - Pieces, Diced                     2

## Step 8: Now that we have generated product recommendations for a single user, put the pieces together and iterate over a list of all CustomerIDs.

- Create an empty dictionary that will hold the recommendations for all customers.
- Create a list of unique CustomerIDs to iterate over.
- Iterate over the customer list performing steps 4 through 7 for each and appending the results of each iteration to the dictionary you created.

In [11]:
dictionary = {}
customer_list = list(data.CustomerID)

for i in customer_list:
    similarities = distances[i].sort_values(ascending=False)[1:6]
    records = df_products.loc[similarities.index]
    similar = records.groupby(['ProductName']).sum().Quantity.sort_values(ascending=False)
    top5_products = similar[~similar.index.isin(df_products.loc[i].index)].head()
    dictionary[i] = top5_products.to_dict()
    
for e in dictionary:
    dictionary[e] = [x for x in dictionary[e]]

KeyboardInterrupt:

##  Step 9: Store the results in a Pandas data frame. The data frame should a column for Customer ID and then a column for each of the 5 product recommendations for each customer.

In [ ]:
recommendations = pd.DataFrame(dictionary).T
recommendations = recommendations.rename(index=str, columns={0:'R1',1:'R2',2:'R3',3:'R4',4:'R5'})
recommendations.head()

## Step 10: Change the distance metric used in Step 3 to something other than euclidean (correlation, cityblock, consine, jaccard, etc.). Regenerate the recommendations for all customers and note the differences.

In [ ]:
distances = pd.DataFrame(1/(1+squareform(pdist(pivot.T,'correlation'))),index=pivot.columns,columns=pivot.columns)

dictionary = {}
customer_list = list(data.CustomerID)

for i in customer_list:
    similarities = distances[i].sort_values(ascending=False)[1:6]
    records = df_products.loc[similarities.index]
    similar = records.groupby(['ProductName']).sum().Quantity.sort_values(ascending=False)
    top5_products = similar[~similar.index.isin(df_products.loc[i].index)].head()
    dictionary[i] = top5_products.to_dict()
    
for e in dictionary:
    dictionary[e] = [x for x in dictionary[e]]
    
recommendations = pd.DataFrame(dictionary).T
recommendations = recommendations.rename(index=str, columns={0:'R1',1:'R2',2:'R3',3:'R4',4:'R5'})
recommendations.head()