## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [37]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [38]:
# Your code here
sample_list_1 = random.sample(range(100),k=80)
print(sample_list_1)
#El código de abajo es para comprobar que los 80 valores son únicos
#l = len(sample_list_1)
#print(l)
#sample_set_1 = set(sample_list_1)
#s = len(sample_set_1)
#print(s)

[19, 45, 64, 66, 76, 98, 4, 92, 13, 96, 5, 9, 23, 21, 69, 80, 74, 57, 79, 54, 68, 63, 34, 49, 97, 25, 90, 31, 28, 1, 14, 6, 86, 95, 93, 53, 94, 52, 26, 78, 8, 17, 58, 42, 87, 27, 24, 39, 15, 91, 89, 85, 56, 83, 70, 50, 36, 61, 20, 12, 88, 77, 75, 10, 37, 3, 47, 71, 51, 29, 44, 48, 55, 73, 60, 62, 7, 72, 18, 35]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [39]:
# Your code here
set1 = set(sample_list_1)
print(len(set1))
#Yeah, still 80!!!

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [40]:
# Your code here
sample_list_2 = []
for i in range(80):
    sample_list_2.append(random.randint(0,100))
print(sample_list_2)

[77, 53, 2, 23, 84, 83, 4, 81, 78, 90, 85, 66, 80, 56, 51, 24, 90, 26, 57, 42, 17, 34, 84, 55, 4, 100, 93, 71, 72, 38, 2, 69, 24, 61, 71, 51, 4, 99, 72, 52, 80, 22, 3, 11, 10, 12, 60, 94, 60, 17, 84, 88, 19, 88, 76, 24, 47, 59, 1, 39, 93, 47, 58, 79, 41, 69, 0, 13, 95, 6, 26, 18, 78, 0, 98, 0, 11, 50, 8, 52]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [41]:
# Your code here
set2 = set(sample_list_2)
print(len(set2))
#Nope!!!

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [42]:
# Your code here
set3 = set1.difference(set2)
print(set3)
#print(len(set3))

{5, 7, 9, 14, 15, 20, 21, 25, 27, 28, 29, 31, 35, 36, 37, 44, 45, 48, 49, 54, 62, 63, 64, 68, 70, 73, 74, 75, 86, 87, 89, 91, 92, 96, 97}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [43]:
# Your code here
set4 = set2.difference(set1)
print(set4)
#print(len(set4))

{0, 2, 99, 100, 38, 41, 11, 81, 84, 22, 59}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [44]:
# Your code here
set5 = set1.intersection(set2)
print(set5)
#print(len(set5))

{1, 3, 4, 6, 8, 10, 12, 13, 17, 18, 19, 23, 24, 26, 34, 39, 42, 47, 50, 51, 52, 53, 55, 56, 57, 58, 60, 61, 66, 69, 71, 72, 76, 77, 78, 79, 80, 83, 85, 88, 90, 93, 94, 95, 98}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [45]:
# Your code here
len_rel = {"len(set1)":len(set1),"len(set2)":len(set2),"len(set3)":len(set3),"len(set4)":len(set4),"len(set5)":len(set5)}
for x in len_rel:
    print(x, len_rel[x])

len(set1) 80
len(set2) 56
len(set3) 35
len(set4) 11
len(set5) 45

#### Create an empty set called `set6`.

In [46]:
# Your code here
tup6 = ()
set6 = set(tup6) 
print(type(set6))

<class 'set'>

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [47]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)
print(len(set6))

{1, 3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 31, 34, 35, 36, 37, 39, 42, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98}
80

#### Check if `set1` and `set6` are equal.

In [48]:
# Your code here
i_s1_s6 = set1.intersection(set6)
if len(set1) == len(i_s1_s6):
    print("set1 y set6 son iguales")
else:
    print("set1 y set6 NO son iguales")    
#Si el número de términos que resulta de la intersección entre el set1 y el set6 es igual al número de términos
#de set1 (o de set6) entonces es que son iguales.

set1 y set6 son iguales

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [49]:
# Your code here
set2_set1 = set2.issubset(set1)
if set2_set1 == True:
    print("El set2 contiene totalmente al set1")
else: 
    print("El set2 no contiene totalmente al set1")
    
set3_set1 = set3.issubset(set1)
if set3_set1 == True:
    print("El set3 contiene totalmente al set1")
else: 
    print("El set3 no contiene totalmente al set1")

El set2 no contiene totalmente al set1
El set3 contiene totalmente al set1

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [50]:
# Your code here
set_3_4 = set3.union(set4)
set_3_4_5 = set5.union(set_3_4)
print(set_3_4_5)
print(len(set_3_4_5))

set_1_2 = set1.union(set2)
print(set_1_2)
print(len(set_1_2))

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 34, 35, 36, 37, 38, 39, 41, 42, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
91
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 31, 34, 35, 36, 37, 38, 39, 41, 42, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
91

#### Using the `pop` method, remove the first element from `set1`.

In [53]:
# Your code here
list1 = list(set1)
print(list1)
list1.pop(-1)
set1 = set(list1)
print(set1)
#La función pop solo acepta argumento cuando se ejecuta sobre listas por lo que es necesario transformar el set
#en una lista para poder elegir el elemento a eliminar.

[3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 31, 34, 35, 36, 37, 39, 42, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]
{3, 4, 5, 6, 7, 8, 9, 10, 12, 13, 14, 15, 17, 18, 19, 20, 21, 23, 24, 25, 26, 27, 28, 29, 31, 34, 35, 36, 37, 39, 42, 44, 45, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 62, 63, 64, 66, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 83, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [52]:
# Your code here