## Web Project

In [12]:
from dotenv import load_dotenv
import os
import json
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re
import time

## API

In [16]:
#Primera prueba API (allPrices)
source = "https://www.bitstamp.net/api/v2/transactions/btceur/?time=day"
exchangeInfo = requests.get(source)
json_exchangeInfo = exchangeInfo.json()
#sym = list(map(lambda x: {"symbol":x["symbol"],"price":x["price"]}, json_exchangeInfo))
#crypto = list({v["symbol"]:v for v in sym}.values())
#print(sym)
col_clean = ['amount','tid','type']
crypto_all = pd.DataFrame(json_exchangeInfo).drop(col_clean, axis=1).rename(index=str, columns={"date":"UnixTime",
                                                                                               "price":"Exchange"})

col_type = ['UnixTime','Exchange']
crypto_all[col_type] = crypto_all[col_type].apply(pd.to_numeric, errors='coerce')
#display(crypto_all.dtypes.eq(object))
#crypto_all = crypto_all.apply(crypto_all.to_numeric, errors='coerce')
#print(crypto_all)
display(crypto_all)

        UnixTime  Exchange
0     1549890564   3184.00
1     1549890516   3183.90
2     1549890493   3183.79
3     1549890493   3183.79
4     1549890473   3179.03
5     1549890448   3183.95
6     1549890444   3183.95
7     1549890422   3179.03
8     1549890382   3183.56
9     1549890382   3179.03
10    1549890381   3179.30
11    1549890380   3179.30
12    1549890372   3183.47
13    1549890352   3183.14
14    1549890283   3183.47
15    1549890251   3183.24
16    1549890169   3183.14
17    1549890133   3183.14
18    1549890116   3183.58
19    1549890067   3183.99
20    1549890065   3181.00
21    1549890065   3181.00
22    1549890065   3181.00
23    1549890010   3179.01
24    1549889941   3179.02
25    1549889938   3179.02
26    1549889937   3180.00
27    1549889936   3180.00
28    1549889922   3180.50
29    1549889865   3181.00
...          ...       ...
3684  1549805266   3179.56
3685  1549805263   3172.92
3686  1549805262   3172.92
3687  1549805233   3179.56
3688  1549805233   3179.56
3689  1549805223   3179.56
3690  1549805153   3174.88
3691  1549805096   3180.64
3692  1549805090   3180.64
3693  1549805078   3180.70
3694  1549805074   3174.66
3695  1549805074   3174.66
3696  1549804909   3179.81
3697  1549804805   3174.37
3698  1549804796   3180.08
3699  1549804752   3180.56
3700  1549804515   3180.13
3701  1549804514   3180.13
3702  1549804504   3180.14
3703  1549804494   3180.14
3704  1549804443   3173.58
3705  1549804418   3173.54
3706  1549804407   3173.78
3707  1549804311   3169.65
3708  1549804311   3170.02
3709  1549804311   3171.00
3710  1549804311   3173.75
3711  1549804311   3175.00
3712  1549804311   3175.01
3713  1549804309   3179.34

[3714 rows x 2 columns]

## Web Scraping

In [17]:
url_pattern = 'https://localbitcoins.com/es/buy-bitcoins-online/eur/?page=%s' #luego será URL PATTERN
n = 2
scrap = []
for p in range(1,n+1):
    scrap_localInfo = []
    localInfo = requests.get(url_pattern%p)
    soup = BeautifulSoup(localInfo.text, 'html.parser') #no se cual es la diferencia entre 'lxml' y lo que puso Alberto
    for a in soup.find_all('td', class_="column-price"):
        scrap_localInfo.append(a.get_text('column-price'))
    for i in range(len(scrap_localInfo)):
        scrap_localInfo[i] = re.sub('\s','',scrap_localInfo[i]).replace('EUR', '').replace(',','')
    for e in range(len(scrap_localInfo)):
        scrap_localInfo[e] = float(scrap_localInfo[e])
    
    scrap.append(scrap_localInfo)
local = [e for x in scrap for e in x]
crypto_local = pd.DataFrame(local).rename(index=int, columns={0:"Permutas"})

display(crypto_local)

    Permutas
0    3220.52
1    3240.33
2    3250.37
3    3251.08
4    3257.08
5    3257.08
6    3260.99
7    3261.52
8    3263.19
9    3263.19
10   3263.60
11   3265.04
12   3265.04
13   3272.97
14   3275.39
15   3275.39
16   3275.39
17   3275.39
18   3283.77
19   3283.92
20   3288.05
21   3288.11
22   3295.84
23   3296.06
24   3298.39
25   3298.99
26   3300.05
27   3300.05
28   3300.05
29   3300.05
..       ...
70   3368.04
71   3368.97
72   3368.97
73   3368.97
74   3368.97
75   3371.00
76   3371.00
77   3371.00
78   3371.00
79   3371.00
80   3371.00
81   3371.00
82   3371.00
83   3373.95
84   3377.00
85   3381.30
86   3381.30
87   3384.19
88   3389.87
89   3391.85
90   3393.46
91   3399.00
92   3399.00
93   3399.82
94   3400.08
95   3400.08
96   3400.08
97   3400.08
98   3400.08
99   3400.08

[100 rows x 1 columns]

In [5]:
display(crypto_local.dtypes)

0    float64
dtype: object