## Web Project

In [66]:
from dotenv import load_dotenv
import os
import json
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re
import time
import matplotlib.pyplot as plt

## API

In [17]:
#Primera prueba API (allPrices)
source = "https://www.bitstamp.net/api/v2/transactions/btceur/?time=day"
exchangeInfo = requests.get(source)
json_exchangeInfo = exchangeInfo.json()

        UnixTime  Exchange
0     1549899737   3198.43
1     1549899737   3198.43
2     1549899736   3198.43
3     1549899735   3198.43
4     1549899735   3198.41
5     1549899734   3198.41
6     1549899677   3198.17
7     1549899677   3198.17
8     1549899676   3198.22
9     1549899671   3198.35
10    1549899645   3192.41
11    1549899635   3198.50
12    1549899609   3195.66
13    1549899604   3195.21
14    1549899603   3193.56
15    1549899603   3193.56
16    1549899602   3193.56
17    1549899594   3189.41
18    1549899560   3192.09
19    1549899554   3188.23
20    1549899524   3191.90
21    1549899516   3191.65
22    1549899485   3192.06
23    1549899470   3187.33
24    1549899436   3191.85
25    1549899436   3191.85
26    1549899429   3191.55
27    1549899426   3196.71
28    1549899426   3195.68
29    1549899426   3193.30
...          ...       ...
4305  1549814617   3180.10
4306  1549814616   3180.06
4307  1549814592   3180.06
4308  1549814474   3182.27
4309  1549814445   3180.85
4310  1549814443   3180.13
4311  1549814290   3176.52
4312  1549814249   3180.54
4313  1549814235   3180.54
4314  1549814206   3180.54
4315  1549814167   3181.00
4316  1549814160   3181.00
4317  1549814160   3181.00
4318  1549814160   3180.95
4319  1549814160   3180.13
4320  1549814159   3180.12
4321  1549814153   3180.12
4322  1549813817   3180.13
4323  1549813811   3180.13
4324  1549813688   3180.70
4325  1549813688   3178.79
4326  1549813464   3180.95
4327  1549813450   3181.00
4328  1549813450   3181.00
4329  1549813450   3180.98
4330  1549813449   3180.98
4331  1549813449   3179.77
4332  1549813447   3179.77
4333  1549813447   3178.75
4334  1549813387   3178.75

[4335 rows x 2 columns]

In [72]:
#sym = list(map(lambda x: {"symbol":x["symbol"],"price":x["price"]}, json_exchangeInfo))
#crypto = list({v["symbol"]:v for v in sym}.values())
#print(sym)
col_clean = ['amount','tid','type']
crypto_all = pd.DataFrame(json_exchangeInfo).drop(col_clean, axis=1).rename(index=str, columns={"date":"UnixTime",
                                                                                               "price":"Exchange"})

col_type = ['UnixTime','Exchange']
crypto_all[col_type] = crypto_all[col_type].apply(pd.to_numeric, errors='coerce')
#crypto_all.to_csv('./output/crypto_all.csv', index=False, encoding = 'utf-8')
crypto_all_r = crypto_all.reindex(index=crypto_all.index[::-1])
crypto_all_r.to_csv('./output/crypto_all_r.csv', index=False, encoding = 'utf-8')
crypto_ex1 = crypto_all_r.drop_duplicates(subset='Exchange', keep="last").sort_values(by=['UnixTime'], ascending=False).reset_index()
crypto_ex2 = crypto_ex1.drop_duplicates(subset='UnixTime', keep="last").sort_values(by=['index'], ascending=False).reset_index()
#display(crypto_all.dtypes.eq(object))
#crypto_all = crypto_all.apply(crypto_all.to_numeric, errors='coerce')
#print(crypto_all)

display(crypto_ex2)

      level_0 index    UnixTime  Exchange
0         430   997  1549889102   3183.23
1         429   995  1549889116   3182.41
2         428   994  1549889118   3178.58
3         427   992  1549889136   3182.72
4         426   990  1549889147   3184.24
5          71    99  1549899084   3184.63
6          70    98  1549899088   3185.85
7         425   978  1549889258   3180.25
8         424   976  1549889263   3180.28
9         423   971  1549889327   3184.25
10        422   969  1549889401   3181.13
11        421   960  1549889422   3186.88
12        419   958  1549889469   3182.00
13        418   957  1549889483   3184.48
14        417   956  1549889552   3183.72
15        416   950  1549889686   3182.15
16        415   949  1549889693   3177.36
17        414   948  1549889701   3182.71
18        413   946  1549889713   3177.51
19        412   944  1549889922   3180.50
20        411   939  1549890010   3179.01
21        410   935  1549890067   3183.99
22        409   931  1549890251   3183.24
23         69    93  1549899090   3187.68
24        408   929  1549890352   3183.14
25        407   928  1549890372   3183.47
26        406   926  1549890381   3179.30
27        405   924  1549890382   3183.56
28        404   921  1549890448   3183.95
29        403   920  1549890473   3179.03
...       ...   ...         ...       ...
1229      459  1057  1549888136   3179.42
1230      458  1055  1549888145   3182.19
1231      456  1052  1549888155   3178.84
1232      455  1050  1549888159   3178.92
1233      454  1049  1549888184   3179.05
1234      453  1047  1549888189   3178.93
1235      452  1046  1549888208   3178.77
1236      451  1043  1549888217   3178.61
1237      450  1042  1549888219   3175.45
1238      449  1041  1549888245   3178.89
1239       76   104  1549899072   3186.53
1240      448  1036  1549888271   3175.46
1241      447  1035  1549888273   3178.60
1242      446  1033  1549888284   3178.49
1243      445  1031  1549888317   3179.72
1244      444  1030  1549888333   3179.77
1245       75   103  1549899074   3186.52
1246      443  1028  1549888334   3179.99
1247      441  1027  1549888372   3176.39
1248      440  1023  1549888411   3176.43
1249      439  1022  1549888445   3182.21
1250       74   102  1549899077   3185.30
1251      438  1017  1549888601   3182.39
1252      437  1014  1549888755   3177.77
1253      436  1013  1549888757   3177.06
1254       73   101  1549899079   3185.31
1255      431  1004  1549888881   3182.38
1256       72   100  1549899082   3184.64
1257        5    10  1549899645   3192.41
1258        0     0  1549899737   3198.43

[1259 rows x 4 columns]

In [70]:
crypto_ex3 = crypto_ex1.drop(['UnixTime','index'], axis=1)
stats_ex = crypto_ex3.describe().transpose()
stats_ex['IQR'] = stats_ex['75%'] - stats_ex['25%']
display(stats_ex)

out_ex = pd.DataFrame(columns=crypto_ex3.columns)
for col in stats_ex.index:
    iqr = stats_ex.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats_ex.at[col,'25%'] - cutoff
    upper = stats_ex.at[col,'75%'] + cutoff
    results = crypto_ex3[(crypto_ex3[col] < lower) | 
                   (crypto_ex3[col] > upper)].copy()
    #results['Outlier'] = col
    out_ex = out_ex.append(results)
display(out_ex)

,count,mean,std,min,25%,50%,75%,max,IQR
Exchange,1503.0,3188.701377,12.745526,3168.0,3179.4,3186.34,3195.475,3230.97,16.075

      Exchange
1092   3219.82
1093   3224.66
1094   3224.64
1095   3221.40
1096   3224.35
1097   3228.12
1098   3224.50
1099   3223.65
1102   3221.12
1103   3223.24
1104   3221.09
1105   3226.68
1106   3225.31
1107   3224.85
1108   3224.83
1110   3221.65
1111   3223.88
1113   3220.63
1114   3223.25
1115   3220.65
1116   3224.16
1117   3224.17
1118   3222.20
1119   3222.21
1120   3227.41
1121   3220.91
1122   3221.79
1125   3224.30
1128   3225.55
1130   3228.24
...        ...
1136   3219.75
1138   3222.51
1139   3220.14
1142   3223.38
1143   3230.84
1144   3230.89
1145   3230.85
1146   3230.83
1147   3230.09
1148   3224.11
1149   3230.97
1150   3230.96
1151   3230.00
1152   3224.18
1153   3226.71
1154   3227.24
1155   3226.72
1156   3225.11
1157   3225.00
1158   3224.99
1159   3224.09
1160   3224.06
1161   3222.75
1162   3222.34
1163   3222.00
1164   3221.50
1165   3220.00
1167   3219.81
1168   3219.99
1172   3219.98

[65 rows x 1 columns]

In [47]:
crypto_ex1.to_csv('./output/crypto_all_reindex.csv', index=False, encoding = 'utf-8')

## Web Scraping

In [61]:
url_pattern = 'https://localbitcoins.com/es/buy-bitcoins-online/eur/?page=%s' #luego será URL PATTERN
n = 1
scrap = []
for p in range(1,n+1):
    scrap_localInfo = []
    localInfo = requests.get(url_pattern%p)
    soup = BeautifulSoup(localInfo.text, 'html.parser') #no se cual es la diferencia entre 'lxml' y lo que puso Alberto
    for a in soup.find_all('td', class_="column-price"):
        scrap_localInfo.append(a.get_text('column-price'))
    for i in range(len(scrap_localInfo)):
        scrap_localInfo[i] = re.sub('\s','',scrap_localInfo[i]).replace('EUR', '').replace(',','')
    for e in range(len(scrap_localInfo)):
        scrap_localInfo[e] = float(scrap_localInfo[e])
    scrap.append(scrap_localInfo)
local = [e for x in scrap for e in x]
crypto_local = pd.DataFrame(local).rename(index=int, columns={0:"Permutas"})

display(crypto_local)

    Permutas
0    3205.45
1    3210.00
2    3213.18
3    3221.17
4    3236.51
5    3236.51
6    3251.27
7    3252.38
8    3252.38
9    3255.81
10   3261.96
11   3261.96
12   3267.74
13   3268.32
14   3268.32
15   3268.32
16   3271.51
17   3275.20
18   3275.20
19   3275.20
20   3275.20
21   3278.38
22   3282.67
23   3283.05
24   3285.00
25   3289.00
26   3291.90
27   3299.98
28   3299.98
29   3299.98
30   3299.98
31   3299.98
32   3299.98
33   3300.00
34   3300.00
35   3300.51
36   3302.12
37   3305.82
38   3321.19
39   3321.19
40   3337.08
41   3337.08
42   3337.08
43   3337.08
44   3337.08
45   3337.08
46   3337.08
47   3337.08
48   3337.08
49   3337.08

In [62]:
display(crypto_local.dtypes)

Permutas    float64
dtype: object

In [63]:
stats_loc = crypto_local.describe().transpose()
stats_loc['IQR'] = stats_loc['75%'] - stats_loc['25%']
display(stats_loc)
out_loc = pd.DataFrame(columns=crypto_local.columns)
for col in stats_loc.index:
    iqr = stats_loc.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats_loc.at[col,'25%'] - cutoff
    upper = stats_loc.at[col,'75%'] + cutoff
    results = crypto_local[(crypto_local[col] < lower) | 
                   (crypto_local[col] > upper)].copy()
    out_loc = out_loc.append(results)
display(out_loc,out_loc.count())

,count,mean,std,min,25%,50%,75%,max,IQR
Permutas,50.0,3286.702,36.490002,3205.45,3267.885,3287.0,3304.895,3337.08,37.01

   Permutas
0   3205.45
1   3210.00

Permutas    2
dtype: int64