## Web Project

In [2]:
from dotenv import load_dotenv
import os
import json
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re
import time

## API

In [17]:
#Primera prueba API (allPrices)
source = "https://www.bitstamp.net/api/v2/transactions/btceur/?time=day"
exchangeInfo = requests.get(source)
json_exchangeInfo = exchangeInfo.json()

        UnixTime  Exchange
0     1549899737   3198.43
1     1549899737   3198.43
2     1549899736   3198.43
3     1549899735   3198.43
4     1549899735   3198.41
5     1549899734   3198.41
6     1549899677   3198.17
7     1549899677   3198.17
8     1549899676   3198.22
9     1549899671   3198.35
10    1549899645   3192.41
11    1549899635   3198.50
12    1549899609   3195.66
13    1549899604   3195.21
14    1549899603   3193.56
15    1549899603   3193.56
16    1549899602   3193.56
17    1549899594   3189.41
18    1549899560   3192.09
19    1549899554   3188.23
20    1549899524   3191.90
21    1549899516   3191.65
22    1549899485   3192.06
23    1549899470   3187.33
24    1549899436   3191.85
25    1549899436   3191.85
26    1549899429   3191.55
27    1549899426   3196.71
28    1549899426   3195.68
29    1549899426   3193.30
...          ...       ...
4305  1549814617   3180.10
4306  1549814616   3180.06
4307  1549814592   3180.06
4308  1549814474   3182.27
4309  1549814445   3180.85
4310  1549814443   3180.13
4311  1549814290   3176.52
4312  1549814249   3180.54
4313  1549814235   3180.54
4314  1549814206   3180.54
4315  1549814167   3181.00
4316  1549814160   3181.00
4317  1549814160   3181.00
4318  1549814160   3180.95
4319  1549814160   3180.13
4320  1549814159   3180.12
4321  1549814153   3180.12
4322  1549813817   3180.13
4323  1549813811   3180.13
4324  1549813688   3180.70
4325  1549813688   3178.79
4326  1549813464   3180.95
4327  1549813450   3181.00
4328  1549813450   3181.00
4329  1549813450   3180.98
4330  1549813449   3180.98
4331  1549813449   3179.77
4332  1549813447   3179.77
4333  1549813447   3178.75
4334  1549813387   3178.75

[4335 rows x 2 columns]

In [44]:
#sym = list(map(lambda x: {"symbol":x["symbol"],"price":x["price"]}, json_exchangeInfo))
#crypto = list({v["symbol"]:v for v in sym}.values())
#print(sym)
col_clean = ['amount','tid','type']
crypto_all = pd.DataFrame(json_exchangeInfo).drop(col_clean, axis=1).rename(index=str, columns={"date":"UnixTime",
                                                                                               "price":"Exchange"})

col_type = ['UnixTime','Exchange']
crypto_all[col_type] = crypto_all[col_type].apply(pd.to_numeric, errors='coerce')
#crypto_all.to_csv('./output/crypto_all.csv', index=False, encoding = 'utf-8')
crypto_all_r = crypto_all.reindex(index=crypto_all.index[::-1])
crypto_all_r.to_csv('./output/crypto_all_r.csv', index=False, encoding = 'utf-8')
crypto_ex1 = crypto_all_r.drop_duplicates(subset='UnixTime', keep="last")
#crypto_ex2 = crypto_ex1.drop_duplicates(subset='Exchange', keep="last").sort_values(by=['UnixTime'], ascending=False)
#display(crypto_all.dtypes.eq(object))
#crypto_all = crypto_all.apply(crypto_all.to_numeric, errors='coerce')
#print(crypto_all)

display(crypto_ex1)

        UnixTime  Exchange
4334  1549813387   3178.75
4332  1549813447   3179.77
4330  1549813449   3180.98
4327  1549813450   3181.00
4326  1549813464   3180.95
4324  1549813688   3180.70
4323  1549813811   3180.13
4322  1549813817   3180.13
4321  1549814153   3180.12
4320  1549814159   3180.12
4316  1549814160   3181.00
4315  1549814167   3181.00
4314  1549814206   3180.54
4313  1549814235   3180.54
4312  1549814249   3180.54
4311  1549814290   3176.52
4310  1549814443   3180.13
4309  1549814445   3180.85
4308  1549814474   3182.27
4307  1549814592   3180.06
4306  1549814616   3180.06
4304  1549814617   3180.10
4303  1549814643   3180.04
4302  1549814700   3174.49
4301  1549814724   3180.10
4299  1549814781   3174.50
4298  1549814783   3174.49
4297  1549814841   3179.00
4296  1549814876   3173.49
4295  1549814900   3173.52
...          ...       ...
38    1549899369   3191.50
37    1549899374   3190.41
36    1549899375   3190.41
34    1549899387   3191.83
33    1549899388   3193.30
32    1549899418   3190.66
31    1549899424   3191.34
27    1549899426   3196.71
26    1549899429   3191.55
24    1549899436   3191.85
23    1549899470   3187.33
22    1549899485   3192.06
21    1549899516   3191.65
20    1549899524   3191.90
19    1549899554   3188.23
18    1549899560   3192.09
17    1549899594   3189.41
16    1549899602   3193.56
14    1549899603   3193.56
13    1549899604   3195.21
12    1549899609   3195.66
11    1549899635   3198.50
10    1549899645   3192.41
9     1549899671   3198.35
8     1549899676   3198.22
6     1549899677   3198.17
5     1549899734   3198.41
3     1549899735   3198.43
2     1549899736   3198.43
0     1549899737   3198.43

[3164 rows x 2 columns]

In [46]:
crypto_ex3 = crypto_ex1.drop(['UnixTime'], axis=1)
stats_ex = crypto_ex3.describe().transpose()
stats_ex['IQR'] = stats_ex['75%'] - stats_ex['25%']
display(stats_ex)

out_ex = pd.DataFrame(columns=crypto_ex3.columns)
for col in stats_ex.index:
    iqr = stats_ex.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats_ex.at[col,'25%'] - cutoff
    upper = stats_ex.at[col,'75%'] + cutoff
    results = crypto_ex3[(crypto_ex3[col] < lower) | 
                   (crypto_ex3[col] > upper)].copy()
    #results['Outlier'] = col
    out_ex = out_ex.append(results)
display(out_ex)

,count,mean,std,min,25%,50%,75%,max,IQR
Exchange,3164.0,3186.850961,9.936709,3168.0,3179.8875,3185.75,3190.68,3230.84,10.7925

      Exchange
3146   3206.97
3134   3206.96
3133   3206.97
3070   3207.29
3068   3207.30
3060   3209.99
3058   3209.99
3056   3209.99
3055   3207.30
3054   3208.26
3052   3209.99
3049   3208.26
3046   3209.99
3043   3208.26
3041   3209.99
3039   3209.99
3037   3209.34
3035   3209.99
3033   3209.99
3031   3209.99
3028   3209.99
3025   3209.99
3022   3209.99
3021   3209.75
3020   3209.33
3019   3209.34
3016   3209.91
3015   3209.91
3012   3209.98
3009   3209.43
...        ...
2872   3221.65
2871   3217.83
2870   3224.83
2869   3224.85
2868   3225.31
2867   3226.68
2866   3221.09
2865   3223.24
2864   3223.24
2861   3218.99
2860   3223.65
2859   3224.35
2858   3224.50
2857   3228.12
2856   3228.12
2855   3224.35
2854   3221.40
2853   3224.64
2852   3224.66
2851   3224.66
2850   3219.82
2849   3218.52
2848   3216.32
2846   3212.13
2845   3212.14
2841   3210.83
2837   3210.82
2833   3210.82
2832   3207.10
2828   3209.15

[133 rows x 1 columns]

In [47]:
crypto_ex1.to_csv('./output/crypto_all_reindex.csv', index=False, encoding = 'utf-8')

## Web Scraping

In [61]:
url_pattern = 'https://localbitcoins.com/es/buy-bitcoins-online/eur/?page=%s' #luego será URL PATTERN
n = 1
scrap = []
for p in range(1,n+1):
    scrap_localInfo = []
    localInfo = requests.get(url_pattern%p)
    soup = BeautifulSoup(localInfo.text, 'html.parser') #no se cual es la diferencia entre 'lxml' y lo que puso Alberto
    for a in soup.find_all('td', class_="column-price"):
        scrap_localInfo.append(a.get_text('column-price'))
    for i in range(len(scrap_localInfo)):
        scrap_localInfo[i] = re.sub('\s','',scrap_localInfo[i]).replace('EUR', '').replace(',','')
    for e in range(len(scrap_localInfo)):
        scrap_localInfo[e] = float(scrap_localInfo[e])
    scrap.append(scrap_localInfo)
local = [e for x in scrap for e in x]
crypto_local = pd.DataFrame(local).rename(index=int, columns={0:"Permutas"})

display(crypto_local)

    Permutas
0    3205.45
1    3210.00
2    3213.18
3    3221.17
4    3236.51
5    3236.51
6    3251.27
7    3252.38
8    3252.38
9    3255.81
10   3261.96
11   3261.96
12   3267.74
13   3268.32
14   3268.32
15   3268.32
16   3271.51
17   3275.20
18   3275.20
19   3275.20
20   3275.20
21   3278.38
22   3282.67
23   3283.05
24   3285.00
25   3289.00
26   3291.90
27   3299.98
28   3299.98
29   3299.98
30   3299.98
31   3299.98
32   3299.98
33   3300.00
34   3300.00
35   3300.51
36   3302.12
37   3305.82
38   3321.19
39   3321.19
40   3337.08
41   3337.08
42   3337.08
43   3337.08
44   3337.08
45   3337.08
46   3337.08
47   3337.08
48   3337.08
49   3337.08

In [62]:
display(crypto_local.dtypes)

Permutas    float64
dtype: object

In [63]:
stats_loc = crypto_local.describe().transpose()
stats_loc['IQR'] = stats_loc['75%'] - stats_loc['25%']
display(stats_loc)
out_loc = pd.DataFrame(columns=crypto_local.columns)
for col in stats_loc.index:
    iqr = stats_loc.at[col,'IQR']
    cutoff = iqr * 1.5
    lower = stats_loc.at[col,'25%'] - cutoff
    upper = stats_loc.at[col,'75%'] + cutoff
    results = crypto_local[(crypto_local[col] < lower) | 
                   (crypto_local[col] > upper)].copy()
    out_loc = out_loc.append(results)
display(out_loc,out_loc.count())

,count,mean,std,min,25%,50%,75%,max,IQR
Permutas,50.0,3286.702,36.490002,3205.45,3267.885,3287.0,3304.895,3337.08,37.01

   Permutas
0   3205.45
1   3210.00

Permutas    2
dtype: int64