# Tableau Project (Criterio 3: df_communications)

In [ ]:
#Importo librerias.
import pymongo
import pandas as pd
import re

#Creo cursor y dataframe inicial.
MongoClient = pymongo.MongoClient
client = MongoClient()
db = client.companies
cursor = db.companies.find()
data = list(cursor)
df = pd.DataFrame(data)

In [2]:
#Análisis de atributos
col_float = ['deadpooled_day','deadpooled_month','deadpooled_year','founded_day','founded_month',
             'founded_year','number_of_employees']
col_obj = ['_id','acquisition','acquisitions','alias_list','blog_feed_url','blog_url','category_code',
           'competitions','created_at','crunchbase_url','deadpooled_url','description','email_address',
        'external_links','funding_rounds','homepage_url','image','investments','ipo','milestones', 
           'name','offices','overview','partners','permalink','phone_number','products','providerships',
        'relationships','screenshots','tag_list','total_money_raised','twitter_username','updated_at',
           'video_embeds']
col_drop1 = ['deadpooled_day','deadpooled_month','founded_day','founded_month','alias_list','blog_feed_url',
             'blog_url','created_at','crunchbase_url','deadpooled_url','email_address','external_links',
            'image','permalink','phone_number','screenshots','tag_list','updated_at','video_embeds']
col_drop2 = ['acquisition','acquisitions','competitions','description','funding_rounds','homepage_url',
             'investments','ipo','milestones','partners','products','providerships','relationships',
             'twitter_username','overview',]
col_ok = ['deadpooled_year','founded_year','number_of_employees','_id','category_code','name','offices',
          'total_money_raised']

In [3]:
#Primera fase de limpieza de datos.
df_drop1 = df.drop(col_drop1, axis=1)
df_drop2 = df_drop1.drop(col_drop2, axis=1)

#Eliminación de registros correspondientes a empresas en 'deadpool'.
df_deadnull = df_drop2[df_drop2['deadpooled_year'].isnull()]

#Eliminación de registros con valor 'null'
df_nulls = df_deadnull.dropna(subset=['founded_year','number_of_employees','name','offices',
          'total_money_raised'])
#Verificación de la longitud del nuevo dataset.
print(len(df_nulls))

7934

In [4]:
#Elección de columnas relevantes para el criterio.
col_cat = ['games_video','web','software','mobile','ecommerce','network_hosting','hardware','semiconductor']
df_cat = df_nulls[df_nulls['category_code'].isin(col_cat)]\
.drop(['_id','deadpooled_year'], axis=1)

#Verificación de la longitud del nuevo dataset.
print(len(df_cat))

5052

In [5]:
#Definición de funciones para modificación de tipo de datos.

#Transforma un dato tipo float a uno tipo int.
def float_to_int(flt):
    integer = int(flt)
    return integer

#Transforma un dato tipo str en int devolviendo solo el número.
def str_to_int(strg):
    string = re.findall('\d+', strg )
    integer = int(string[0])*1000
    return integer

In [6]:
#Aplicación de funciones sobre los registros.
df_regout = df_cat.copy()
df_regout['total_money_raised'] = df_regout['total_money_raised'].apply(str_to_int)
df_regout['founded_year'] = df_regout['founded_year'].apply(float_to_int)

#Eliminación de registros irrelevantes según criterio.
#df_regout = df_regout[df_regout.total_money_raised == 0]
df_regout = df_regout[df_regout.number_of_employees > 0]
df_regout = df_regout[df_regout['offices'].map(len) > 0]

#Verificación de la longitud del nuevo dataset.
print(len(df_regout))

4155

In [7]:
#Función para la creación de los valores de ubicación en formato GeoJson.
def nested_to_list(dicts):
    lat_lon = [{"type":"Point","coordinates":[l['longitude'],l['latitude']]} for l in dicts]
    lst = lat_lon[0]
    long = lst['coordinates'][0]
    if long != None:
        return lst
    else:
        return 0

In [8]:
#Aplicación de función para la creación de los valores de ubicación en formato GeoJson.
df_colout = df_regout.copy()
df_colout['offices'] = df_colout['offices'].apply(nested_to_list)

In [9]:
#Eliminación de valores de GeoJson nulos.
df_geoout = df_colout.copy()
df_geoout = df_geoout[df_geoout.offices != 0]

#Verificación de la longitud del nuevo dataset.
print(len(df_geoout))

3108

In [10]:
#Generación de dataframe con empresas A-round start-up (10-30 empleados) y menos de 500k euros raised
df_startup = df_geoout.copy()
df_startup = df_startup[df_startup.total_money_raised <= 500000]
df_startup = df_startup[df_startup.number_of_employees <= 30]
df_startup = df_startup[df_startup.number_of_employees >= 10]

#Verificación de la longitud del nuevo dataset.
print(len(df_startup))

845

In [11]:
#Generación de dataframe con empresas de dimensión "big" company (>50 empleados)
df_bigcomp = df_geoout.copy()
df_bigcomp = df_bigcomp[df_bigcomp.number_of_employees >= 50]

#Verificación de la longitud del nuevo dataset.
print(len(df_bigcomp))

660

In [12]:
#Generación de dataframe con ratio equilibrado entre big companies y startups
df_ratio = df_startup.append(df_bigcomp)

#Verificación de la longitud del nuevo dataset.
print(len(df_ratio))

#Vista del dataset definitivo antes de generar .json
display(df_ratio.head())

1505

,category_code,founded_year,name,number_of_employees,offices,total_money_raised
6,web,2006,Geni,18.0,"{'type': 'Point', 'coordinates': [-118.393064,...",16000
54,games_video,2007,AdaptiveBlue,15.0,"{'type': 'Point', 'coordinates': [-74.3372, 40...",24000
56,games_video,2004,Pando Networks,23.0,"{'type': 'Point', 'coordinates': [-73.99873, 4...",11000
69,web,2007,SodaHead,25.0,"{'type': 'Point', 'coordinates': [-119.306607,...",12000
86,web,2005,ClipBlast!,15.0,"{'type': 'Point', 'coordinates': [-118.756618,...",0

In [13]:
#Creación del fichero .json para generar nueva 'collection' en MongoDB
df_ratio.to_json('communications.json', orient="records", lines=True)

### Se importa .json en MongoDB para generar collection y aplicar operador geoespacial '$near'
Nombre de la collection creada: **communications**

In [30]:
#Se define función para aplicar operador geoespacial '$near'
def concentration(company):
    cursor_near = db.communications.find({
      "offices": {
        "$near": {
          "$geometry": {
            "type": "Point",
            "coordinates": [company['offices']['coordinates'][0], company['offices']['coordinates'][1]]
          },
          "$minDistance": 0,
          "$maxDistance":5000
        }
      }
    })
    return list(cursor_near)

In [31]:
#Aplicación de la función para cada documento de la colección respecto al resto de documentos
cursor_geojson = db.communications.find()
clusters = []
for element in cursor_geojson:
    clusters.append(len(concentration(element)))

#Verificación de la longitud del cursor (total de iteraciones).
print(len(clusters),'\n')

#Visualización del total de coincidencias para cada documento.
print(clusters,'\n')

#Máximo número de coincidencias.
print(max(clusters),'\n')

1505

[2, 1, 2, 83, 10, 7, 26, 25, 1, 80, 82, 3, 27, 20, 14, 24, 82, 80, 24, 2, 3, 80, 32, 2, 17, 1, 82, 2, 33, 82, 1, 1, 11, 18, 10, 1, 17, 14, 69, 21, 1, 2, 16, 5, 24, 1, 14, 11, 10, 8, 1, 12, 24, 13, 5, 4, 80, 34, 2, 9, 4, 2, 72, 81, 7, 32, 80, 1, 12, 3, 10, 80, 1, 2, 11, 25, 19, 9, 1, 5, 5, 28, 24, 82, 7, 2, 24, 2, 1, 1, 1, 38, 31, 15, 9, 2, 27, 81, 7, 83, 39, 13, 8, 1, 85, 17, 8, 77, 76, 10, 5, 1, 8, 1, 12, 17, 7, 1, 44, 5, 36, 10, 2, 1, 5, 2, 4, 7, 73, 1, 4, 37, 1, 30, 1, 1, 1, 9, 83, 25, 1, 2, 1, 2, 82, 1, 11, 4, 8, 2, 11, 1, 7, 4, 1, 7, 10, 1, 4, 5, 2, 17, 2, 27, 3, 8, 1, 1, 1, 80, 81, 1, 4, 2, 1, 1, 2, 72, 4, 82, 1, 5, 80, 1, 2, 2, 5, 27, 1, 6, 10, 7, 2, 1, 26, 82, 10, 9, 10, 4, 81, 40, 1, 1, 1, 42, 1, 7, 81, 3, 2, 80, 5, 1, 11, 9, 4, 6, 2, 7, 1, 32, 13, 2, 17, 56, 5, 3, 1, 80, 13, 4, 8, 1, 27, 2, 10, 2, 2, 4, 7, 82, 83, 37, 3, 9, 1, 10, 80, 23, 5, 2, 5, 4, 6, 11, 1, 2, 1, 2, 1, 10, 1, 1, 1, 1, 73, 1, 1, 4, 16, 3, 4, 3, 1, 3, 1, 9, 1, 80, 29, 1, 2, 2, 1, 2, 8, 53, 1, 17, 7, 1, 1, 8, 1, 11, 1, 2, 1, 2, 2, 17, 29, 1, 80, 20, 1, 1, 9, 82, 7, 3, 31, 21, 1, 1, 83, 10, 11, 27, 12, 2, 1, 9, 2, 3, 1, 1, 33, 2, 11, 2, 4, 10, 2, 3, 3, 16, 9, 5, 83, 55, 2, 39, 2, 6, 2, 2, 31, 55, 4, 2, 80, 4, 4, 8, 2, 26, 81, 4, 2, 3, 7, 2, 2, 2, 4, 44, 14, 2, 2, 3, 10, 11, 3, 2, 2, 3, 9, 5, 3, 83, 2, 2, 55, 16, 6, 2, 31, 55, 80, 4, 26, 2, 4, 81, 4, 4, 2, 4, 2, 2, 7, 3, 8, 3, 2, 44, 3, 14, 2, 1, 2, 1, 1, 9, 1, 16, 7, 4, 1, 8, 9, 24, 1, 29, 7, 2, 1, 9, 1, 2, 1, 2, 1, 4, 20, 1, 3, 1, 1, 1, 81, 9, 1, 9, 1, 10, 1, 2, 2, 29, 3, 10, 2, 6, 1, 1, 81, 1, 1, 9, 1, 3, 1, 1, 16, 1, 4, 1, 1, 19, 1, 1, 7, 10, 1, 2, 1, 2, 3, 57, 83, 80, 14, 1, 5, 1, 2, 2, 1, 27, 3, 18, 3, 1, 82, 5, 6, 11, 9, 1, 17, 1, 2, 1, 3, 1, 1, 1, 1, 2, 1, 1, 2, 79, 4, 2, 31, 1, 1, 7, 17, 1, 1, 1, 1, 1, 1, 21, 6, 1, 17, 1, 4, 72, 1, 1, 6, 1, 1, 3, 1, 1, 1, 62, 3, 4, 9, 14, 4, 1, 5, 5, 5, 1, 5, 5, 1, 1, 1, 81, 2, 31, 4, 1, 3, 11, 1, 2, 1, 3, 1, 18, 1, 1, 1, 2, 1, 13, 2, 1, 4, 1, 4, 1, 1, 9, 3, 7, 83, 1, 26, 1, 80, 73, 9, 1, 1, 1, 1, 18, 1, 2, 17, 15, 1, 1, 30, 1, 9, 2, 1, 17, 3, 80, 1, 2, 80, 11, 2, 1, 1, 30, 3, 1, 1, 4, 1, 2, 4, 2, 3, 1, 1, 12, 30, 1, 40, 11, 2, 1, 1, 3, 1, 1, 2, 27, 1, 1, 1, 8, 1, 2, 1, 2, 2, 3, 1, 11, 31, 3, 1, 2, 1, 16, 5, 3, 1, 4, 30, 1, 8, 2, 1, 2, 4, 1, 1, 5, 11, 1, 1, 27, 1, 1, 14, 1, 82, 1, 4, 2, 1, 9, 1, 1, 22, 27, 3, 1, 11, 1, 1, 3, 1, 58, 8, 1, 14, 2, 1, 1, 17, 6, 1, 1, 2, 1, 1, 30, 1, 2, 19, 3, 1, 65, 4, 1, 1, 45, 1, 2, 81, 40, 5, 5, 2, 1, 1, 1, 2, 1, 1, 2, 1, 1, 2, 1, 27, 1, 8, 1, 1, 1, 2, 4, 2, 5, 2, 5, 1, 1, 11, 1, 2, 1, 4, 8, 6, 1, 29, 1, 1, 1, 73, 2, 5, 83, 1, 2, 2, 19, 3, 3, 1, 14, 1, 2, 2, 2, 1, 6, 1, 25, 1, 2, 1, 1, 26, 30, 3, 1, 7, 1, 1, 3, 1, 2, 1, 11, 20, 1, 30, 20, 1, 1, 10, 20, 2, 2, 9, 1, 11, 82, 5, 42, 7, 1, 10, 1, 1, 13, 1, 9, 9, 1, 19, 1, 9, 72, 1, 1, 1, 21, 41, 9, 82, 30, 33, 1, 36, 38, 15, 37, 39, 81, 82, 33, 19, 23, 37, 4, 82, 5, 3, 10, 80, 27, 1, 12, 6, 1, 10, 18, 7, 1, 37, 2, 84, 1, 80, 83, 80, 80, 80, 1, 80, 1, 11, 1, 7, 81, 12, 2, 13, 80, 81, 32, 1, 34, 80, 39, 58, 1, 1, 7, 9, 8, 6, 7, 12, 38, 27, 3, 4, 80, 1, 4, 18, 33, 20, 10, 14, 30, 13, 7, 8, 1, 3, 20, 82, 7, 1, 24, 5, 3, 7, 1, 21, 5, 73, 5, 1, 21, 79, 7, 5, 2, 31, 26, 1, 80, 9, 31, 41, 22, 1, 2, 2, 29, 1, 4, 1, 5, 44, 14, 6, 1, 75, 83, 1, 67, 2, 82, 3, 15, 1, 2, 83, 5, 1, 20, 7, 19, 1, 1, 83, 38, 6, 3, 2, 8, 2, 3, 4, 6, 1, 4, 1, 20, 7, 20, 3, 84, 2, 27, 19, 7, 81, 72, 11, 1, 67, 5, 80, 1, 4, 1, 4, 2, 2, 77, 25, 80, 1, 80, 3, 2, 1, 7, 19, 2, 11, 11, 10, 80, 37, 82, 41, 2, 2, 5, 36, 2, 1, 4, 2, 26, 42, 14, 45, 8, 2, 31, 2, 1, 3, 1, 16, 11, 81, 18, 1, 21, 17, 8, 1, 27, 38, 37, 1, 4, 1, 13, 1, 1, 77, 6, 1, 83, 2, 9, 3, 73, 5, 1, 1, 2, 1, 5, 37, 74, 1, 18, 7, 8, 4, 15, 24, 2, 56, 2, 12, 1, 21, 1, 54, 82, 80, 9, 4, 40, 2, 4, 24, 1, 8, 42, 25, 2, 3, 2, 1, 1, 1, 4, 1, 80, 1, 8, 16, 1, 80, 4, 12, 1, 1, 23, 38, 30, 58, 2, 9, 81, 3, 15, 3, 9, 11, 1, 2, 4, 37, 65, 2, 7, 19, 2, 7, 80, 2, 2, 5, 21, 2, 8, 2, 9, 58, 3, 37, 11, 4, 4, 2, 80, 7, 19, 2, 7, 2, 2, 2, 80, 65, 2, 5, 8, 21, 2, 4, 80, 58, 1, 1, 17, 3, 5, 1, 2, 1, 1, 2, 1, 31, 8, 2, 1, 1, 12, 27, 10, 83, 4, 2, 1, 2, 3, 1, 1, 2, 9, 3, 7, 1, 1, 2, 1, 1, 2, 83, 1, 30, 23, 22, 20, 8, 3, 18, 1, 3, 3, 9, 2, 1, 1, 15, 69, 8, 2, 1, 16, 8, 81, 80, 1, 20, 1, 82, 6, 4, 83, 1, 1, 5, 5, 20, 5, 81, 1, 1, 4, 10, 21, 1, 37, 3, 2, 1, 7, 2, 20, 1, 5, 20, 9, 11, 1, 2, 2, 2, 10, 7, 38, 1, 23, 15, 11, 38, 2, 17, 1, 3, 67, 10, 4, 80, 4, 1, 1, 3, 34, 80, 4, 3, 2, 2, 7, 9, 19, 4, 7, 5, 1, 3, 1, 20, 1, 59, 50, 1, 1, 26, 1, 11, 80, 8, 43, 2, 6, 2, 4, 20, 3, 1, 72, 8, 1, 1, 70, 1, 5, 24, 1, 1, 2, 1, 1, 2, 4, 1, 1, 1, 10, 2, 2, 8, 1, 8, 10, 3, 1, 2, 1, 11, 2, 1, 21, 1, 32, 9, 4, 2, 17, 24, 2, 42, 18, 2, 3, 3, 32, 4, 1, 20, 1, 1, 20, 44, 2, 1, 26, 1, 1, 38, 39, 2, 1, 1, 1, 1, 2, 1, 1, 1, 84, 11, 19, 71, 1, 1, 15, 8, 2, 1, 73, 5, 1, 2, 1, 1, 83, 5, 20, 14, 1, 1, 6, 2, 16, 16, 6, 48, 31, 1, 4, 9, 2, 1, 4, 1, 1, 1, 9, 32, 33, 2, 4, 11, 79, 5, 33, 2, 14, 6, 74, 81, 1, 3, 1, 44, 1, 5, 1, 1, 7, 2, 26, 83, 83, 80, 7, 2, 30, 1, 16, 17, 48, 25, 27, 5, 2, 1, 39, 1, 80, 4, 79, 79, 1, 38, 2, 1, 3, 17]

85

In [32]:
#Extracción de coordenadas geográficas con mayor número de coincidencias dentro del criterio.
target = list(db.communications.find())
targets = []
for i in range(len(clusters)):
    if clusters[i] == max(clusters):
        targets.append([target[i]['offices']['coordinates'][0], target[i]['offices']['coordinates'][1]])

#Visualización de los pares de coordenadas resultantes.
print(targets)

[[-73.981534, 40.738832]]

In [33]:
#Creación de dataframe para Plateau.
long_lat = ['Longitude','Latitude']
df_communications = pd.DataFrame(targets, columns=long_lat)
df_communications['Criteria'] = 'Communications'

#Visualización del dataframe final dentro del criterio.
display(df_communications)

   Longitude   Latitude        Criteria
0 -73.981534  40.738832  Communications

In [34]:
#Creación de fichero .json para visualización en Plateau.
df_communications.to_json('df_communications.json', orient="records", lines=True)